[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KonqPopupMenu/Plugin
Comment=Plugin for the [Konqueror|Dolphin] Popup Menu
Comment[af]=Inplak vir die [Konqueror|Dolphin] Opspring Kieslys
Comment[ar]=ملحق لقائمة كونكيورر المنبثقة
Comment[as]=[Konqueror|Dolphin] প'প-আপ তালিকাৰ কাৰণে প্লাগ-ইন
Comment[ast]=Complementu pal menú emerxente de [Konqueror|Dolphin]
Comment[be]=Утулка для выплыўнага меню [Konqueror|Dolphin]
Comment[be@latin]=Plugin dla vypłyŭnoha menu prahramy „[Konqueror|Dolphin]”
Comment[bg]=Приставка за контекстното меню на браузъра
Comment[bn]=কনকরার পপ-আপ মেনুর জন্য প্লাগ-ইন
Comment[bn_IN]=[Konqueror|Dolphin] পপ-আপ মেনুর প্লাগ-ইন
Comment[bs]=Priključak za K‑osvajačev iskačući meni
Comment[ca]=Connector per al menú emergent del [Konqueror|Dolphin]
Comment[ca@valencia]=Connector per al menú emergent del [Konqueror|Dolphin]
Comment[cs]=Modul pro kontextovou nabídku [Konqueror|Dolphin]u
Comment[csb]=Wtëkôcz do menu (òtmëkô knąpą mëszë) [Konqueror|Dolphin]a
Comment[cy]=Ategyn i Naidlen [Konqueror|Dolphin]
Comment[da]=Plugin for [Konqueror|Dolphin]s popop-menu
Comment[de]=Erweiterung für das Aufklapp-Menü von [Konqueror|Dolphin]
Comment[el]=Πρόσθετο για το αναδυόμενο μενού του [Konqueror|Dolphin]
Comment[en_GB]=Plugin for the [Konqueror|Dolphin] Popup Menu
Comment[eo]=Kromprogrameto por la spruĉmenuo de Konkeranto
Comment[es]=Complemento para el menú emergente de [Konqueror|Dolphin]
Comment[et]=[Konqueror|Dolphin]i hüpikmenüü plugin
Comment[eu]=[Konqueror|Dolphin]ren laster-menuetarako plugina
Comment[fa]=وصله برای گزینگان بالاپر [Konqueror|Dolphin]
Comment[fi]=[Konqueror|Dolphin]in ponnahdusvalikkoliitännäinen
Comment[fr]=Module externe pour le menu contextuel de [Konqueror|Dolphin]
Comment[fy]=Plugin foar [Konqueror|Dolphin]'s fluesmenu
Comment[ga]=Breiseán le haghaidh Roghchláir Aníos [Konqueror|Dolphin]
Comment[gl]=Complemento para o menú contextual de [Konqueror|Dolphin]
Comment[gu]=કોન્કરર પોપઅપ મેનુ માટે પ્લગઇન
Comment[he]=תוסף לתפריט המוקפץ של [Konqueror|Dolphin]
Comment[hi]=कॉन्करर पॉपअप मेन्यू के लिए प्लगइन
Comment[hne]=कान्करर पापअप मेन्यू बर प्लगइन
Comment[hr]=Dodatak za [Konqueror|Dolphin] pop-up izbornik
Comment[hsb]=zašćěpka za popup-meni w konqueroru
Comment[hu]=Bővítőmodul a [Konqueror|Dolphin] felbukkanó menühöz
Comment[ia]=Plugin pro le Menu de Popup de [Konqueror|Dolphin]
Comment[id]=Plugin untuk Menu Popup [Konqueror|Dolphin]
Comment[is]=Íforrit fyrir sprettvalmynd [Konqueror|Dolphin] Popup Menu
Comment[it]=Estensione per il menu a comparsa di [Konqueror|Dolphin]
Comment[ja]=[Konqueror|Dolphin] ポップアップメニューのプラグイン
Comment[ka]=[Konqueror|Dolphin]-ის ჩამოშლადი მენიუს პლაგინი
Comment[kk]=[Konqueror|Dolphin] баптау қалқымалы мәзір плагині
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់​ម៉ឺនុយ​លេច​ឡើង​របស់​ [Konqueror|Dolphin]
Comment[kn]=ಕಾಂಕರ್ ಪುಟಿಕೆ (ಪಾಪಪ್) ಪರಿವಿಡಿಗೆ ಮಿಳಿತಾನ್ವಯ (ಪ್ಲಗಿನ್)
Comment[ko]=[Konqueror|Dolphin] 팝업 메뉴 플러그인
Comment[ku]=Pêveka ji bo Pêşeka Hilpekîn a [Konqueror|Dolphin]ê
Comment[lt]=Priedas pasirodančiam [Konqueror|Dolphin] meniu
Comment[lv]=[Konqueror|Dolphin] izlecošās izvēlnes spraudnis
Comment[mai]=कान्करर पापअप मेनू क' लेल प्लगइन
Comment[mk]=Приклучок за контекстното мени на [Konqueror|Dolphin]
Comment[ml]=കോണ്‍ക്വററിന്റെ പൊങ്ങിവരുന്ന മെനുവിനുള്ള സംയോജകം
Comment[mr]=कॉन्करर पॉपअप मेन्यू करिता प्लगइन
Comment[ms]=Plugin untuk Menu Popuo [Konqueror|Dolphin]
Comment[nb]=Programtillegg for dra-og-slipp i [Konqueror|Dolphin]s sprettoppmeny.
Comment[nds]=Plugin för dat [Konqueror|Dolphin]-Opdukmenü
Comment[ne]=कन्क्वेरर पपअप मेनुका लागि प्लगइन
Comment[nl]=Plugin voor [Konqueror|Dolphin]'s contextmenu
Comment[or]=[Konqueror|Dolphin] ପପଅପ ତାଲିକା ପାଇଁ ପ୍ଲଗଇନ
Comment[pa]=ਕੋਨਕਿਉਰੋਰ ਪਾਪਅੱਪ ਮੇਨੂ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do menu (otwieranego przyciskiem myszy) [Konqueror|Dolphin]a
Comment[pt]='Plugin' para o Menu do [Konqueror|Dolphin]
Comment[pt_BR]=Plugin do [Konqueror|Dolphin] para menus de contexto
Comment[ro]=Extensie pentru meniul popup [Konqueror|Dolphin]
Comment[ru]=Расширение контекстного меню [Konqueror|Dolphin]
Comment[si]=[Konqueror|Dolphin] පොප් අප් මෙනුව සඳහා ප්ලගිනය
Comment[sk]=Modul pre kontextové menu [Konqueror|Dolphin]a
Comment[sl]=Vstavek za [Konqueror|Dolphin]jev pojavni meni
Comment[sr]=Прикључак за К‑освајачев искачући мени
Comment[sr@ijekavian]=Прикључак за К‑освајачев искачући мени
Comment[sr@ijekavianlatin]=Priključak za K‑osvajačev iskačući meni
Comment[sr@latin]=Priključak za K‑osvajačev iskačući meni
Comment[sv]=Insticksprogram för [Konqueror|Dolphin]s popupmeny
Comment[ta]=கான்கொரர் தோன்றும் பட்டிக்கான செருகல்கள்
Comment[te]=[Konqueror|Dolphin] పాప్అప్ మెనూకొరకు ప్లగ్ఇన్
Comment[tg]=Плагин барои менюи пайдошавии [Konqueror|Dolphin]
Comment[th]=ส่วนเสริมการทำงานสำหรับเมนูผุดของคอนเควอร์เรอร์
Comment[tr]=[Konqueror|Dolphin] Açılabilir Menüsü İçin Eklenti
Comment[ug]=[Konqueror|Dolphin] قاڭقىش تىزىملىكىنىڭ قىستۇرمىسى
Comment[uk]=Додаток контекстного меню [Konqueror|Dolphin]
Comment[vi]=Trình bổ sung cho Trình đơn Bật lên của [Konqueror|Dolphin]
Comment[wa]=Tchôke-divins po l' aspitant menu di [Konqueror|Dolphin]
Comment[xh]=Iplagi efakiweyo ye [Konqueror|Dolphin] ye Popup Menu
Comment[x-test]=xxPlugin for the [Konqueror|Dolphin] Popup Menuxx
Comment[zh_CN]=[Konqueror|Dolphin] 弹出菜单插件
Comment[zh_TW]=[Konqueror|Dolphin] 彈出式選單的外掛程式
