[Desktop Entry]
Categories=KDE-Services;
Exec=/usr/share/applications/About_KDE-Services.sh
Icon=ks-menu
Name=About KDE-Services
Name[de]=Über KDE-Services
Name[es]=Acerca de KDE-Services
Name[fr]=Au sujet de KDE-Services
Name[it]=Riguardo KDE-Services
Name[ja]=KDE-Services について
Name[ko]=KDE-Services 에 관해
Name[pt]=Sobre KDE-Services
Name[ru]=О KDE-Services
Name[uk]=Про KDE-Services
Name[zh_CN]=关于 KDE-Services
Path=/usr/share/applications
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
