[Desktop Entry]
Categories=KDE-Services;
Exec=/usr/share/applications/About_KDE-Services.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-menu.png
Name=About KDE-Services
Name[es]=Acerca de KDE-Services
Name[ru]=О KDE-Services
Name[uk]=Про KDE-Services
Path=/usr/share/applications
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
