[Desktop Entry]
Categories=KDE-Services;
Comment[en_US]=
Comment=
Exec=/usr/share/applications/About_KDE-Services.sh
GenericName[en_US]=
GenericName=
Icon=/usr/share/icons/hicolor/512x512/apps/ks-menu.png
MimeType=
Name[en_US]=About KDE-Services
Name=About KDE-Services
Path=/usr/share/applications
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
