[Desktop Entry]
Categories=Android-Tools;
Exec=which adb; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Android Package Manager" --passivepopup="[Error] Please install adb command and try again."; exit 1; else /usr/share/applications/Android_Tools-apk-manager.sh;fi
Icon=ks-android-apk-manager
Name=Android Package Manager
Name[de]=Paketverwalter für Android
Name[es]=Administrador de Paquetes para Android
Name[fr]=Gestionnaire de Paquets Android
Name[it]=Gestore di Pacchetti per Android
Name[ja]=Android のためのパッケージの長官
Name[ko]=꾸러미의 관리자 Android
Name[pt]=Administrador de Pacotes para Android
Name[ru]=Администратор Пакетов Android
Name[uk]=Адміністратор Пакетів Android
Name[zh_CN]=Android 应用管理器
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
