[Desktop Entry]
Categories=Android-Tools;
Exec=which adb; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Android Backup Manager" --passivepopup="[Error] Please install adb command and try again."; exit 1; else /usr/share/applications/Android_Tools-backup-restore.sh %F;fi
Icon=ks-android-backup-restore
Name=Android Backup Manager
Name[de]=Android Sicherung
Name[es]=Administrador de Respaldo para Android
Name[fr]=Gestionnaire de Sauvegardes Android
Name[it]=Gestore Backup per Android
Name[ja]=Android のために長官を支持してください
Name[ko]=관리자를 후퇴시켜라 Android
Name[pt]=Atrás o Administrador para Android
Name[ru]=Android Backup Менеджер
Name[uk]=Android Backup Менеджер
Name[zh_CN]=Android 备份管理器
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
