[Desktop Entry]
Categories=Android-Tools;
Exec=/usr/share/applications/Android_Tools-push-pull.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-android-push-pull.png
Name=Android File Manager
Name[de]=Verwalter der Akten für Android
Name[es]=Administrador de Ficheros para Android
Name[fr]=Administrateur de Fichiers pour Android
Name[it]=Amministratore di Schedari per Android
Name[ja]=Android のためのファイルの長官
Name[ko]=파일의 관리자 Android
Name[pt]=Administrador de Arquivos para Android
Name[ru]=Android Менеджер Файла
Name[uk]=Android Реєструють Менеджера
Name[zh_CN]=文件的管理人为 Android
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
