[Desktop Entry]
Categories=Android-Tools;
Exec=/usr/share/applications/Android_Tools-backup-restore.sh
Icon=/usr/share/icons/hicolor/scalable/apps/ks-android-backup-restore.svgz
Name=Android Backup Manager
Name[de]=Zurück Verwalter für Android
Name[es]=Administrador de Respaldo para Android
Name[fr]=Administrateur de Dossier pour Android
Name[it]=Amministratore di Schienale per Android
Name[ja]=Android のために長官を支持してください
Name[ko]=관리자를 후퇴시켜라 Android
Name[pt]=Atrás o Administrador para Android
Name[ru]=Android Backup Менеджер
Name[uk]=Android Backup Менеджер
Name[zh_CN]=背面管理人为 Android
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
