[Desktop Entry]
Categories=Android-Tools;
Exec=which adb; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Android File Manager" --passivepopup="[Error] Please install adb command and try again."; exit 1; else /usr/share/applications/Android_Tools-push-pull.sh %F;fi
Icon=ks-android-push-pull
Name=Android File Manager
Name[de]=Android Dateimanager
Name[es]=Administrador de Ficheros para Android
Name[fr]=Gestionnaire de Fichiers pour Android
Name[it]=Gestore dei File per Android
Name[ja]=Android のためのファイルの長官
Name[ko]=파일의 관리자 Android
Name[pt]=Administrador de Arquivos para Android
Name[ru]=Android Менеджер Файла
Name[uk]=Android Реєструють Менеджера
Name[zh_CN]=Android 文件管理器
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
