[Desktop Entry]
Categories=Android-Tools;
Exec=/usr/share/applications/Android_Tools-apk-manager.sh
Icon=/usr/share/icons/hicolor/scalable/apps/ks-android-apk-manager.svgz
Name=Android Package Manager
Name[de]=Verwalter der Pakete für Android
Name[es]=Administrador de Paquetes para Android
Name[fr]=Administrateur de Paquets pour Android
Name[it]=Amministratore di Pacchetti per Android
Name[ja]=Android のためのパッケージの長官
Name[ko]=꾸러미의 관리자 Android
Name[pt]=Administrador de Pacotes para Android
Name[ru]=Администратор Пакетов Android
Name[uk]=Адміністратор Пакетів Android
Name[zh_CN]=包裹的管理人为 Android
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
