[Desktop Entry]
Categories=Backup-Tools;
Comment[en_US]=
Comment=
Exec=/usr/share/applications/Backup_Tools-standard.sh
GenericName[en_US]=
GenericName=
Icon=server-database
MimeType=
Name[en_US]=Standards
Name=Standards
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
