[Desktop Entry]
Categories=Dolphin-Tools;
Comment[en_US]=
Comment=
Exec=/usr/share/applications/Dolphin_Tools-connect.sh
GenericName[en_US]=
GenericName=
Icon=/usr/share/icons/hicolor/512x512/apps/ks-folder-remote.png
MimeType=
Name[en_US]=Connect To
Name=Connect To
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
