[Desktop Entry]
Categories=Dolphin-Tools;
Exec=/usr/share/applications/Dolphin_Tools-connect.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-folder-remote.png
Name=Connect To
Name[es]=Conectar a
Name[ru]=Подключиться к
Name[uk]=Підключитися до
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
