[Desktop Entry]
Categories=Dropbox-Tools;
Exec=/usr/share/applications/Dropbox_Tools-main.sh stop_service
Icon=ks-dropbox-off
Name=Stop Dropbox service
Name[de]=Dropboxdienst annhalten
Name[es]=Detener servicio Dropbox
Name[fr]=Arrêter le service Dropbox
Name[it]=Ferma servizio Dropbox
Name[ja]=サービス Dropbox を止めるために
Name[ko]=서비스 Dropbox 를 멈춘다
Name[pt]=Parar serviço Dropbox
Name[ru]=Остановить сервис Dropbox
Name[uk]=Зупинити сервіс Dropbox
Name[zh_CN]=停止 Dropbox 服务
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
