[Desktop Entry]
Categories=Dropbox-Tools;
Exec=/usr/share/applications/Dropbox_Tools-main.sh autostart_service
Icon=/usr/share/icons/hicolor/512x512/apps/ks-dropbox.png
Name=Enable autostart Dropbox service
Name[de]=Um Anfängen vom Dienst Dropbox Aufwärts zu Ermöglichen
Name[es]=Habilitar autoarranque del servicio Dropbox
Name[fr]=Habiliter autoarranque du service Dropbox
Name[it]=Abilitare autoarranque del servizio Dropbox
Name[ja]=上へサービス Dropbox の始めを可能にするために
Name[ko]=서비스 Dropbox 의 안에서 올라가고 있는 출발을 가능하게 한다
Name[pt]=Habilitar começos para cima do serviço Dropbox
Name[ru]=Автозапуск сервиса Dropbox
Name[uk]=Автозапуск сервіса Dropbox
Name[zh_CN]=服务 Dropbox 使开始能够增加
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
