[Desktop Entry]
Categories=Dropbox-Tools;
Exec=which wget; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Update Dropbox service" --passivepopup="[Error] Please install wget command and try again."; exit 1; else /usr/share/applications/Dropbox_Tools-main.sh update_service %F;fi
Icon=ks-dropbox
Name=Update Dropbox service
Name[de]=Dropbox aktualisieren
Name[es]=Actualizar servicio Dropbox
Name[fr]=Mettre à jour le service Dropbox
Name[it]=Aggiorna servizio Dropbox
Name[ja]=サービス Dropbox をアップグレードするために
Name[ko]=서비스 Dropbox 를 개량한다
Name[pt]=Atualizar serviço Dropbox
Name[ru]=Обновить сервис Dropbox
Name[uk]=Оновити сервіс Dropbox
Name[zh_CN]=更新 Dropbox 服务
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
