[Desktop Entry]
Categories=Dropbox-Tools;
Exec=/usr/share/applications/Dropbox_Tools-main.sh autostart_service
Icon=ks-dropbox
Name=Enable autostart Dropbox service
Name[de]=Dropbox beim Systemstart starten
Name[es]=Habilitar autoarranque del servicio Dropbox
Name[fr]=Lancer le service Dropbox au démarrage
Name[it]=Abilitare auto avvio del servizio Dropbox
Name[ja]=上へサービス Dropbox の始めを可能にするために
Name[ko]=서비스 Dropbox 의 안에서 올라가고 있는 출발을 가능하게 한다
Name[pt]=Habilitar começos para cima do serviço Dropbox
Name[ru]=Автозапуск сервиса Dropbox
Name[uk]=Автозапуск сервіса Dropbox
Name[zh_CN]=自动启动 Dropbox 服务
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
