[Desktop Entry]
Categories=Dropbox-Tools;
Exec=/usr/share/applications/Dropbox_Tools-main.sh update_service
Icon=/usr/share/icons/hicolor/scalable/apps/ks-dropbox.svgz
Name=Update Dropbox service
Name[de]=Um Dienst Dropbox zu Befördern
Name[es]=Actualizar servicio Dropbox
Name[fr]=Actualiser service Dropbox
Name[it]=Aggiornare servizio Dropbox
Name[ja]=サービス Dropbox をアップグレードするために
Name[ko]=서비스 Dropbox 를 개량한다
Name[pt]=Atualizar serviço Dropbox
Name[ru]=Обновить сервис Dropbox
Name[uk]=Оновити сервіс Dropbox
Name[zh_CN]=升级服务 Dropbox
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
