[Desktop Entry]
Categories=Dropbox-Tools;
Exec=/usr/share/applications/Dropbox_Tools-main.sh install_service
Icon=ks-dropbox
Name=Install Dropbox service
Name[de]=Dropboxdienst installieren
Name[es]=Instalar servicio Dropbox
Name[fr]=Installer le service Dropbox
Name[it]=Installa il servizio Dropbox
Name[ja]=サービス Dropbox をインストールするために
Name[ko]=서비스 Dropbox 를 구성한다
Name[pt]=Instalar serviço Dropbox
Name[ru]=Установить сервис Dropbox
Name[uk]=Встановити сервіс Dropbox
Name[zh_CN]=安装 Dropbox 服务
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
