[Desktop Entry]
Categories=Multimedia-Tools;
Exec=which ffprobe dvdauthor genisoimage; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="D.V.D. Assembler" --passivepopup="[Error] Please install ffprobe, dvdauthor and genisoimage command and try again."; exit 1; else /usr/share/applications/DVD_Tools-d.v.d.-assembler.sh;fi
Icon=ks-media-optical-video
Name=D.V.D. Assembler
Name[de]=D.V.D. zusammenstellen
Name[es]=Ensamblador de D.V.D.
Name[fr]=Assembleur de D.V.D.
Name[it]=Assemblatore di D.V.D.
Name[ja]=アセンブラの D.V.D.
Name[ko]=조립하는 사람 의 D.V.D.
Name[pt]=Montador de D.V.D.
Name[ru]=D.V.D. Сборщик
Name[uk]=D.V.D. Компанувальник
Name[zh_CN]=DVD 生成器
Path=/usr/share/applications
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
