[Desktop Entry]
Categories=Multimedia-Tools;
Exec=/usr/share/applications/DVD_Tools-d.v.d.-assembler.sh
Icon=/usr/share/icons/hicolor/scalable/apps/ks-media-optical-video.svgz
Name=D.V.D. Assembler
Name[de]=Assembler von D.V.D.
Name[es]=Ensamblador de D.V.D.
Name[fr]=Assembleur de D.V.D.
Name[it]=Assemblatore di D.V.D.
Name[ja]=アセンブラの D.V.D.
Name[ko]=조립하는 사람 의 D.V.D.
Name[pt]=Montador de D.V.D.
Name[ru]=D.V.D. Сборщик
Name[uk]=D.V.D. Компанувальник
Name[zh_CN]=组合器 D.V.D.
Path=/usr/share/applications
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
