[Desktop Entry]
Categories=Graphic-Tools;
Exec=/usr/share/applications/The_Sizer.sh
Icon=/usr/share/icons/hicolor/scalable/apps/ks-resize-image.svgz
Name=The Sizer
Name[de]=Der Sizer
Name[es]=El Dimensionador
Name[fr]=Le Sizer
Name[it]=Il Sizer
Name[ja]=Sizer
Name[ko]=Sizer
Name[pt]=O Sizer
Name[ru]=Изменение размера (настраиваемое)
Name[uk]=Зміна розміру (власні параметри)
Name[zh_CN]=大小测定器
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
