[Desktop Entry]
Categories=Graphic-Tools;
Exec=which convert; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Image Resizer" --passivepopup="[Error] Please install convert command and try again."; exit 1; else /usr/share/applications/The_Sizer.sh;fi
Icon=ks-resize-image
Name=The Sizer
Name[de]=Größenänderung
Name[es]=El Dimensionador
Name[fr]=Le Sizer (tailles personnalisées)
Name[it]=Ridimensiona
Name[ja]=Sizer
Name[ko]=Sizer
Name[pt]=O Sizer
Name[ru]=Изменение размера (настраиваемое)
Name[uk]=Зміна розміру (власні параметри)
Name[zh_CN]=尺寸修改器
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
