[Desktop Entry]
Categories=Graphic-Tools;
Exec=/usr/share/applications/The_Sizer.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-resize-image.png
Name=The Sizer
Name[es]=El Conversor
Name[ru]=Конвертер
Name[uk]=Конвертер
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
