[Desktop Entry]
Categories=Graphic-Tools;
Exec=/usr/share/applications/The_Converter.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-image.png
Name=The Converter
Name[es]=El Dimensionador (personalizar dimensiones)
Name[ru]=Изменение размера (настраиваемое)
Name[uk]=Зміна розміру (власні параметри)
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
