[Desktop Entry]
Categories=Graphic-Tools
Comment[en_US]=
Comment=
Exec=/usr/share/applications/The_Converter.sh
GenericName[en_US]=
GenericName=
Icon=image-x-generic
MimeType=
Name[en_US]=The Converter
Name=The Converter
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
