[Desktop Entry]
Categories=Midnight-Tools;
Exec=which mc; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="[Root ~]# mc" --passivepopup="[Error] Please install mc command and try again."; exit 1; else kdesu -i ks-mc-root --noignorebutton -d -c "konsole --new-tab -e mc";fi
GenericName=Root
Icon=ks-mc-root
Name=Midnight Commander
Name[de]=Midnight Kommandant
Name[es]=Comandante Midnight
Name[fr]=Midnight Commander
Name[it]=Midnight Commander
Name[ja]=メージャー Midnight
Name[ko]=Midnight ２등해좌
Name[pt]=Chefe de Midnight
Name[ru]=Командир полночи
Name[uk]=Командир півночі
Name[zh_CN]=Midnight 命令
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
