[Desktop Entry]
Categories=Midnight-Tools;
Exec=konsole --new-tab -e mc
Icon=/usr/share/icons/hicolor/512x512/apps/ks-mc-user.png
Name=Midnight Commander
Name[es]=Comandante Midnight
Name[ru]=Командир Midnight
Name[uk]=Командир Midnight
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
