[Desktop Entry]
Categories=Midnight-Tools;
Exec=kdesu --caption="Midnight Commander" --noignorebutton -d konsole --new-tab -e mc
GenericName=Root
Icon=/usr/share/icons/hicolor/512x512/apps/ks-mc-root.png
Name=Midnight Commander
Name[es]=Comandante Medianoche
Name[ru]=Командир полночи
Name[uk]=Командир півночі
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
