[Desktop Entry]
Categories=Midnight-Tools;
Comment[en_US]=
Comment=
Exec=kdesu --noignorebutton -d konsole --new-tab -e mc
GenericName[en_US]=Root
GenericName=Root
Icon=mc-root
MimeType=
Name[en_US]=Midnight Commander
Name=Midnight Commander
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
