[Desktop Entry]
Categories=Multimedia-Tools;
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Clean Metadata from Media Files" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else /usr/share/applications/ffmpeg_multifile-clean-metadata-media-file.sh;fi
Icon=ks-media-clean-metadata
Name=Clean Metadata from Media Files
Name[de]=Metadaten löschen
Name[es]=Limpiar Metadatos de Ficheros Multimedia
Name[fr]=Nettoyer les Métadatas des Fichiers Multimédia
Name[it]=Pulisci Metadata dei File Multimediali
Name[ja]=メディアのファイルからのきれいなメタデータ
Name[ko]=미디어 파일로부터의 깨끗한 미터자료
Name[pt]=Limpar Metadatos de Arquivos de Multimídias
Name[ru]=Чистый Metadata из Мультимедиа Файлы
Name[uk]=Почистіть Metadata з Мультимедійних Файлів
Name[zh_CN]=清空媒体文件元数据
Path=/usr/share/applications
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
