[Desktop Entry]
Categories=Multimedia-Tools;
Exec=/usr/share/applications/ffmpeg_multifile-convert-video.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-video.png
Name=Convert Video Files
Name[es]=Convertir Archivos de Video
Name[ru]=Конвертировать файлы видео
Name[uk]=Конвертувати файли відео
Path=/usr/share/applications
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
