[Desktop Entry]
Categories=Multimedia-Tools;
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Convert Video Files" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else /usr/share/applications/ffmpeg_multifile-convert-video.sh;fi
Icon=ks-video
Name=Convert Video Files
Name[de]=Videodateien konvertieren
Name[es]=Convertir Archivos de Video
Name[fr]=Convertir les Fichiers Vidéo
Name[it]=Converti File Video
Name[ja]=ビデオファイルを変換するために
Name[ko]=비디오 파일을 바꾼다
Name[pt]=Converter Arquivos Vídeos
Name[ru]=Конвертировать файлы видео
Name[uk]=Конвертувати файли відео
Name[zh_CN]=转换视频文件
Path=/usr/share/applications
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
