[Desktop Entry]
Categories=Multimedia-Tools;
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Edit Time from Media Files" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else /usr/share/applications/ffmpeg_multifile-edit-media-time.sh;fi
Icon=ks-media-edit-time
Name=Edit Time from Media Files
Name[de]=Zeitstempel von Medien editieren
Name[es]=Editar Tiempo de Ficheros Multimedia
Name[fr]=Editer le Temps des Fichiers Multimédia
Name[it]=Modifica Tempi dei File Multimedia
Name[ja]=マルチメディアファイルの時間を発表するために
Name[ko]=파일 멀티미디어의 시간을 공포한다
Name[pt]=Publicar Time de Arquivos de Multimídias
Name[ru]=Отредактируйте Время из Мультимедиа Файлы
Name[uk]=Відредагуйте Час з Мультимедійних Файлів
Name[zh_CN]=修改媒体文件时间
Path=/usr/share/applications
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
