[Desktop Entry]
Categories=Multimedia-Tools;
Exec=/usr/share/applications/ffmpeg_multifile-extract-audio.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-audio.png
Name=[Extract|Convert] Audio Tracks
Name[es]=[Extraer|Convertir] Pista de Audio
Name[ru]=[Извлечь|Конвертировать] аудио трек
Name[uk]=[Видобути|Конвертувати] аудіо трек
Path=/usr/share/applications
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
