[Desktop Entry]
Categories=Multimedia-Tools;
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=/usr/share/icons/hicolor/scalable/apps/ks-error.svgz --title="Add Subtitle to MP4 File" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else /usr/share/applications/ffmpeg_multifile-add-subtitle.sh %F;fi
Icon=/usr/share/icons/hicolor/scalable/apps/ks-add-subs.svgz
Name=Add Subtitle to MP4 Files
Name[de]=Fügen Sie Untertitel MP4-Akten hinzu
Name[es]=Agregar Subtitulo a Ficheros MP4
Name[fr]=Ajoutez le Sous-titre aux Fichiers MP4
Name[it]=Aggiunga Sottotitolo agli Archivi di MP4
Name[ja]=MP4 ファイルに字幕を加えなさい
Name[ko]=MP4 파일에서 추가 원고 부제
Name[pt]=Acrescente Subtítulo a Arquivos de MP4
Name[ru]=Добавьте Подзаголовок к MP4 Файлы
Name[uk]=Додайте Подзаголовок MP4 Файли
Name[zh_CN]=把副题加入 MP4 文件
Path=/usr/share/applications
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
