[Desktop Entry]
Categories=Multimedia-Tools;
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Concatenate Media Files with Same Codec" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else /usr/share/applications/ffmpeg_multifile-concatenate-media-file.sh;fi
Icon=ks-concatenate-media-file
Name=Concatenate Media Files with Same Codec
Name[de]=Mediendateien mit gleichem Codec zusammenführen
Name[es]=Concatenar Ficheros Multimedia con Codecs Iguales
Name[fr]=Concaténer les Fichiers Multimédia avec le Même Codec
Name[it]=Concatena File Multimediali con lo Stesso Codec
Name[ja]=マルチメディアファイルを同じコーデックとリンクするために
Name[ko]=파일 멀티미디어를 같은 코덱에 링크한다
Name[pt]=Unir Arquiva Multimídias com Mesmo Codecs
Name[ru]=Сливайтесь Файлы Мультимедиа с Таким же Codec
Name[uk]=Злийте Мультимедію Файлів з Тим же самий Codec
Name[zh_CN]=使用相同编码连接媒体文件
Path=/usr/share/applications
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
