[Desktop Entry]
Categories=Network-Tools;
Exec=which ss; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Connect Sentry" --passivepopup="[Error] Please install ss command and try again."; exit 1; else /usr/share/applications/Network_Tools-connect-sentry.sh;fi
Icon=ks-sentry-on
Name=Connect Sentry
Name[de]=Verbindung überwachen
Name[es]=Centinela de Conexiones
Name[fr]=Sentinelle de Connexions
Name[it]=Sentinella di Connessione
Name[ja]=接続の衛兵
Name[ko]=접속의 위병
Name[pt]=Sentinela de Conexões
Name[ru]=Сторож портов
Name[uk]=Вартовий портів
Name[zh_CN]=端口连接监视器
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
