[Desktop Entry]
Categories=Network-Tools;
Exec=/usr/share/applications/Network_Tools-connect-sentry.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-sentry-on.png
Name=Connect Sentry
Name[es]=Centinela de Conexiones
Name[ru]=Сторож портов
Name[uk]=Вартовий портів
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
