[Desktop Entry]
Categories=Network-Tools;
Exec=which ss; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Listening Sockets" --passivepopup="[Error] Please install ss command and try again."; exit 1; else kdesu -i ks-socket -d /usr/share/applications/Network_Tools-listening-sockets.sh;fi
Icon=ks-socket
Name=Listening Sockets
Name[de]=Listening Sockets
Name[es]=Puertos Escuchando
Name[fr]=Ports à l'Écoute
Name[it]=Porte in Ascolto
Name[ja]=港町が聞く
Name[ko]=듣고 있는 항구
Name[pt]=Portos Escutando
Name[ru]=Прослушиваемые сокеты
Name[uk]=Сокети, що прослуховуються
Name[zh_CN]=监听 Socket 连接
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
