[Desktop Entry]
Categories=Network-Tools;
Exec=kdesu --caption="Listening Sockets" -d /usr/share/applications/Network_Tools-listening-sockets.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-socket.png
Name=Listening Sockets
Name[es]=Puertos Escuchando
Name[ru]=Прослушиваемые сокеты
Name[uk]=Сокети, що прослуховуються
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
