[Desktop Entry]
Categories=SaMBa-Tools;
Comment[en_US]=
Comment=
Exec=/usr/share/applications/SaMBa_Tools-mount-umount-share.sh
GenericName[en_US]=
GenericName=
Icon=application-x-smb-server
MimeType=
Name[en_US]=Samba Shares Mounter
Name=Samba Shares Mounter
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
