[Desktop Entry]
Categories=SaMBa-Tools;
Exec=/usr/share/applications/SaMBa_Tools-mount-umount-share.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-smbfs.png
Name=Samba Shares Mounter
Name[es]=Montador de Compartidos Samba
Name[ru]=Монтировать сетевые ресурсы Samba
Name[uk]=Монтувати мережеві ресурси Samba
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
