[Desktop Entry]
Categories=Search-Tools;
Exec=which locate; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Statistics Search DataBase" --passivepopup="[Error] Please install locate command and try again."; exit 1; else /usr/share/applications/Search_Tools-statistics-search-db.sh;fi
Icon=ks-search-stats
Name=Statistics Search DataBase
Name[de]=Statistik der Suchdatenbank
Name[es]=Estadisticas de Base de Datos de Búsqueda
Name[fr]=Statistiques de la Base de Données de Recherche
Name[it]=Statistiche del Database di Ricerca
Name[ja]=サーチデータベースについて統計上です
Name[ko]=검색 데이터 베이스의 안에서 통계이다
Name[pt]=Estatístico de Banco de Dados de Procura
Name[ru]=Статистика поисковой База данных
Name[uk]=Статистика пошукової База даних
Name[zh_CN]=统计搜索数据库
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
