[Desktop Entry]
Categories=Search-Tools;
Exec=/usr/share/applications/Search_Tools-statistics-search-db.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-search-stats.png
Name=Statistics Search DB
Name[es]=Estadisticas BD de Búsqueda
Name[ru]=Статистика поисковой БД
Name[uk]=Статистика пошукової БД
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
