[Desktop Entry]
Categories=Search-Tools;
Exec=/usr/share/applications/Search_Tools-update-search-db.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-search-database-update.png
Name=Update Search DB
Name[es]=Actualizar BD de Búsqueda
Name[ru]=Обновить поисковую БД
Name[uk]=Оновити пошукову БД
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
