[Desktop Entry]
Categories=Search-Tools;
Exec=/usr/share/applications/Search_Tools-search-by-name.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-search-name.png
Name=Search By Name
Name[es]=Búsqueda Por Nombre
Name[ru]=Поиск по имени
Name[uk]=Пошук за ім’ям
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
