[Desktop Entry]
Categories=Search-Tools;
Comment[en_US]=
Comment=
Exec=/usr/share/applications/Search_Tools-search-by-name.sh
GenericName[en_US]=
GenericName=
Icon=edit-find-project
MimeType=
Name[en_US]=Search By Name
Name=Search By Name
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
