[Desktop Entry]
Categories=Search-Tools;
Exec=/usr/share/applications/Search_Tools-update-search-db.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-search-database-update.png
Name=Update Search DataBase
Name[de]=Um Suchdatenbank zu Befördern
Name[es]=Actualizar Base de Datos de Búsqueda
Name[fr]=Actualiser Base de Données de Recherche
Name[it]=Aggiornare Database di Ricerca
Name[ja]=アップグレードサーチデータベースに
Name[ko]=검색 데이터 베이스를 개량한다
Name[pt]=Atualizar Banco de Dados de Procura
Name[ru]=Обновить поисковую База данных
Name[uk]=Оновити пошукову База даних
Name[zh_CN]=升级搜寻数据库
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
