[Desktop Entry]
Categories=Search-Tools;
Exec=which locate; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Search by Name" --passivepopup="[Error] Please install locate command and try again."; exit 1; else /usr/share/applications/Search_Tools-search-by-name.sh;fi
Icon=ks-search-name
Name=Search by Name
Name[de]=Suche nach Namen
Name[es]=Búsqueda por Nombre
Name[fr]=Recherche par Nom
Name[it]=Ricerca per Nome
Name[ja]=名士を捜してください
Name[ko]=이름의 검색
Name[pt]=Procure Nome
Name[ru]=Поиск по имени
Name[uk]=Пошук за ім’ям
Name[zh_CN]=使用文件名搜索
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
