[Desktop Entry]
Categories=SSH-Tools;
Exec=/usr/share/applications/SSH_Tools-copy-id.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-key.png
Name=Install Public Key
Name[es]=Instalar Llave Publica
Name[ru]=Установить открытый ключ
Name[uk]=Встановити відкритий ключ
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
