[Desktop Entry]
Categories=SSH-Tools;
Exec=/usr/share/applications/SSH_Tools-sshfs.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-sshfs.png
Name=Mountpoint To Remote Directory
Name[es]=Montar Directorio Remoto
Name[ru]=Смонтировать удалённую папку
Name[uk]=Змонтувати віддалену теку
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
