[Desktop Entry]
Categories=SSH-Tools;
Exec=/usr/share/applications/SSH_Tools-ssh-keygen.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-keygen.png
Name=Public Key Generation
Name[es]=Generar Llave Publica
Name[ru]=Генерировать открытый ключ
Name[uk]=Генерувати відкритий ключ
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
