[Desktop Entry]
Categories=SSH-Tools;Dolphin-Tools;
Comment[en_US]=
Comment=
Exec=/usr/share/applications/SSH_Tools-register-machine.sh
GenericName[en_US]=
GenericName=
Icon=server
MimeType=
Name[en_US]=Registered Servers
Name=Registered Servers
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
