[Desktop Entry]
Categories=SSH-Tools;
Exec=/usr/share/applications/SSH_Tools-sshfs.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-sshfs.png
Name=Mount point to Remote Directory
Name[de]=Um Entfernt Verzeichnis zu Montieren
Name[es]=Montar Directorio Remoto
Name[fr]=Monter Directive Lointaine
Name[it]=Montare Direttiva Remota
Name[ja]=ディレクトリリモートコントロールを取り付けるために
Name[ko]=멀리 떨어지는 디렉토리에 오른다
Name[pt]=Montar Diretório Remoto
Name[ru]=Смонтировать удалённую папку
Name[uk]=Змонтувати віддалену теку
Name[zh_CN]=装目录遥远的
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
