[Desktop Entry]
Categories=SSH-Tools;
Exec=/usr/share/applications/SSH_Tools-ssh-keygen.sh
Icon=ks-keygen
Name=Public Key Generation
Name[de]=Öffentlichen Schlüssel erstellen
Name[es]=Generar Llave Publica
Name[fr]=Générer une Clé Publique
Name[it]=Generare Chiave Pubblica
Name[ja]=キーを生成することは出版します
Name[ko]=Key Publishes 를 생성한다
Name[pt]=Gerar Chave Publica
Name[ru]=Генерировать открытый ключ
Name[uk]=Генерувати відкритий ключ
Name[zh_CN]=公钥生成
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
