[Desktop Entry]
Categories=System-Tools;
Exec=which gcc make ccache rpmbuild rpm yum yumdownloader yum-builddep rpmdev-setuptree; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Build Custom Kernel" --passivepopup="[Error] Please install ccache, gcc, make, rpm. rpmbuild, rpmdev-setuptree, yum-builddep, yum and yumdownloader command and try again."; exit 1; else xterm -hold -si -s -sl 1000000 -sb -T "Build Custom Kernel" -bg black -fg white -e /usr/share/applications/System_Tools-build-custom-kernel.sh;fi
Icon=ks-kernel-rebuild
Name=Build Custom Kernel
Name[de]=Eigenen Kernel bauen
Name[es]=Construir Kernel Personalizado
Name[fr]=Construire un Noyau Personnalisé
Name[it]=Compila Kernel Personalizzato
Name[ja]=個人化されたカーネルを作るために
Name[ko]=개인전용의 커늘을 형성한다
Name[pt]=Construir Núcleo Personalizado
Name[ru]=Собрать собственное ядро
Name[uk]=Зібрати власне ядро
Name[zh_CN]=构建自定义内核
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
