[Desktop Entry]
Categories=System-Tools;
Exec=kdesu --caption="System Monitor" --noignorebutton -d /usr/share/applications/System_Tools-system-monitor.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-error.png
Name=System Monitor
Name[es]=Monitor del Sistema
Name[ru]=Системный монитор
Name[uk]=Системний монітор
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
