[Desktop Entry]
Categories=System-Tools;
Exec=/usr/share/applications/System_Tools-check-kernel-update.sh
Icon=/usr/share/icons/hicolor/scalable/apps/ks-kernel-update.svgz
Name=Check Kernel Update
Name[de]=Scheck Kern Aktualisierung
Name[es]=Chequear Actualización del Kernel
Name[fr]=Vérifiez Actualisation du Kernel
Name[it]=Controlli Aggiornamento di Nocciolo
Name[ja]=チェック核更新
Name[ko]=수표 커늘 갱신
Name[pt]=Confira Atualização de Núcleo
Name[ru]=Проверить обновления ядра
Name[uk]=Перевірити оновлення ядра
Name[zh_CN]=检查核心更新
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
