[Desktop Entry]
Categories=System-Tools;
Exec=/usr/share/applications/System_Tools-process-viewer.sh
Icon=/usr/share/icons/hicolor/scalable/apps/ks-system-process.svgz
Name=Process Viewer
Name[de]=Finder der Prozesse
Name[es]=Visor de Procesos
Name[fr]=Viseur de Procès
Name[it]=Mirino di Processi
Name[ja]=プロセスのファインダ
Name[ko]=과정의 파인더
Name[pt]=Descobridor de Processos
Name[ru]=Обзор процессов
Name[uk]=Перегляд процесів
Name[zh_CN]=程序的探测器
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
