[Desktop Entry]
Categories=System-Tools;
Exec=/usr/share/applications/System_Tools-check-kernel-update.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-kernel-update.png
Name=Check Kernel Update
Name[es]=Chequear Actualización del Kernel
Name[ru]=Проверить обновления ядра
Name[uk]=Перевірити оновлення ядра
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
