[Desktop Entry]
Categories=System-Tools;
Exec=xterm -hold -si -s -sl 1000000 -sb -T "Build Custom Kernel" -bg black -fg white -e /usr/share/applications/System_Tools-build-custom-kernel.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-kernel-rebuild.png
Name=Build Custom Kernel
Name[es]=Construir Kernel Personalizado
Name[ru]=Собрать собственное ядро
Name[uk]=Зібрати власне ядро
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
