[Desktop Entry]
Categories=System-Tools;
Exec=kdesu -i /usr/share/icons/hicolor/scalable/apps/ks-xorg.svgz --noignorebutton -d /usr/share/applications/System_Tools-Xorg-configure.sh
Icon=/usr/share/icons/hicolor/scalable/apps/ks-xorg.svgz
Name=Xorg Configure
Name[de]=Um Xorg zu Konfigurieren
Name[es]=Configurar Xorg
Name[fr]=Configurer Xorg
Name[it]=Configurare Xorg
Name[ja]=Xorg を配置するために
Name[ko]=Xorg 를 형성한다
Name[pt]=Configurar Xorg
Name[ru]=Конфигурация Xorg
Name[uk]=Конфігурація Xorg
Name[zh_CN]=配置 Xorg
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
