[Desktop Entry]
Categories=System-Tools;
Exec=/usr/share/applications/System_Tools-sys-info.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-hwinfo.png
Name=System Information
Name[es]=Información del Sistema
Name[ru]=Информация о системе
Name[uk]=Інформація про систему
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
