[Desktop Entry]
Categories=System-Tools;
Comment[en_US]=
Comment=
Exec=/usr/share/applications/System_Tools-process-viewer.sh
GenericName[en_US]=
GenericName=
Icon=view-process-all
MimeType=
Name[en_US]=Process Viewer
Name=Process Viewer
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
