[Desktop Entry]
Categories=System-Tools;
Exec=kdesu --caption="Xorg Configure" --noignorebutton -d /usr/share/applications/System_Tools-Xorg-configure.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-xorg.png
Name=Xorg Configure
Name[es]=Configurar Xorg
Name[ru]=Конфигурация Xorg
Name[uk]=Конфігурація Xorg
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
