[Desktop Entry]
Categories=System-Tools;
Comment[en_US]=
Comment=
Exec=xterm -hold -si -s -sl 1000000 -sb -T "Rebuild RPM Package" -bg black -fg white -e /usr/share/applications/System_Tools-rebuild-package.sh
GenericName[en_US]=
GenericName=
Icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png
MimeType=
Name[en_US]=Rebuild RPM Package
Name=Rebuild RPM Package
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
