[Desktop Entry]
Categories=System-Tools;
Exec=xterm -hold -si -s -sl 1000000 -sb -T "Rebuild RPM Package" -bg black -fg white -e /usr/share/applications/System_Tools-rebuild-package.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png
Name=Rebuild RPM Package
Name[es]=Reconstruir Paquete RPM
Name[ru]=Пересобрать пакет RPM
Name[uk]=Перезібрати пакунок RPM
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
