[Desktop Entry]
Categories=System-Tools;
Exec=which yumdownloader; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Check Kernel Update" --passivepopup="[Error] Please install yumdownloader command and try again."; exit 1; else /usr/share/applications/System_Tools-check-kernel-update.sh;fi
Icon=ks-kernel-update
Name=Check Kernel Update
Name[de]=Kernel auf Aktualisierungen prüfen
Name[es]=Chequear Actualización del Kernel
Name[fr]=Vérifier les Mise à Jour du Noyau
Name[it]=Controlli Aggiornamento del kernel
Name[ja]=チェック核更新
Name[ko]=수표 커늘 갱신
Name[pt]=Confira Atualização de Núcleo
Name[ru]=Проверить обновления ядра
Name[uk]=Перевірити оновлення ядра
Name[zh_CN]=检查内核更新
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
