[Desktop Entry]
Categories=YouTube-Tools;
Exec=/usr/share/applications/YouTube_Tools-video-code-collector.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-youtube-video-code-collector.png
Name=Video List Code Collector
Name[es]=Colector de Códigos de Lista de Videos
Name[ru]=Сборщик видео по списку кодов
Name[uk]=Збиральник відео за списком кодів
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
