[Desktop Entry]
Categories=YouTube-Tools;
Exec=/usr/share/applications/YouTube_Tools-download-video.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-youtube-download-video.png
Name=Video Downloader
Name[es]=Descargador de Video
Name[ru]=Загрузчик видео
Name[uk]=Завантажувальник відео
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
