[Desktop Entry]
Categories=YouTube-Tools;
Exec=which youtube-dl; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Video Downloader" --passivepopup="[Error] Please install youtube-dl command and try again."; exit 1; else /usr/share/applications/YouTube_Tools-download-video.sh;fi
Icon=ks-youtube-download-video
Name=Video Downloader
Name[de]=Video Downloader
Name[es]=Descargador de Video
Name[fr]=Télécharger une Vidéo
Name[it]=Scarica Video
Name[ja]=ビデオ Downloader
Name[ko]=비디오 다운 로더
Name[pt]=Descarregador Vídeo
Name[ru]=Загрузчик видео
Name[uk]=Завантажувальник відео
Name[zh_CN]=视频下载
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
