[Desktop Entry]
Actions=AddTimestampFileModified;
Icon=ks-clock
MimeType=all/all;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-StartupNotify=false
X-KDE-Submenu=KDE-Services
X-KDE-Submenu[x-test]=xxKDE-Servicesxx

[Desktop Action AddTimestampFileModified]
Comment=Adds the timestamp of last modified date of file
Exec=mv "%f" "$(pwd)/$(date -r %f '+%%F')-$(basename %f)"
Icon=ks-clock
Name=Add Timestamp Prefix YYYY-MM-DD-... of file last modified to [File|Dir]name
TryExec=konsole
