[Desktop Entry]
Actions=ABM;AFM;APM;ARM;
Icon=ks-android-apk-manager
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=Android Tools
Name[de]=Android - Werkzeuge
Name[es]=Android - Herramientas
Name[fr]=Outils Android
Name[it]=Android - Strumenti
Name[ja]=Android 道具
Name[ko]=Android 도구
Name[pt]=Android - Ferramentas
Name[ru]=Инструменты Android
Name[uk]=Інструменти Android
Name[zh_CN]=Android 工具
X-KDE-Submenu[x-test]=xxAndroid Toolsxx

[Desktop Action ABM]
Exec=which adb; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Android Backup Manager" --passivepopup="[Error] Please install adb command and try again."; exit 1; else /usr/share/applications/Android_Tools-backup-restore.sh %F;fi
Icon=ks-android-backup-restore
Name=Android Backup Manager
Name[de]=Android Sicherung
Name[es]=Administrador de Respaldo para Android
Name[fr]=Gestionnaire de Sauvegardes Android
Name[it]=Gestore Backup per Android
Name[ja]=Android のために長官を支持してください
Name[ko]=관리자를 후퇴시켜라 Android
Name[pt]=Atrás o Administrador para Android
Name[ru]=Android Backup Менеджер
Name[uk]=Android Backup Менеджер
Name[zh_CN]=Android 备份管理器
Name[x-test]=xxAndroid Backup Managerxx

[Desktop Action AFM]
Exec=which adb; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Android File Manager" --passivepopup="[Error] Please install adb command and try again."; exit 1; else /usr/share/applications/Android_Tools-push-pull.sh %F;fi
Icon=ks-android-push-pull
Name=Android File Manager
Name[de]=Android Dateimanager
Name[es]=Administrador de Ficheros para Android
Name[fr]=Gestionnaire de Fichiers pour Android
Name[it]=Gestore dei File per Android
Name[ja]=Android のためのファイルの長官
Name[ko]=파일의 관리자 Android
Name[pt]=Administrador de Arquivos para Android
Name[ru]=Android Менеджер Файла
Name[uk]=Android Реєструють Менеджера
Name[zh_CN]=Android 文件管理器
Name[x-test]=xxAndroid File Managerxx

[Desktop Action APM]
Exec=which adb; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Android Package Manager" --passivepopup="[Error] Please install adb command and try again."; exit 1; else /usr/share/applications/Android_Tools-apk-manager.sh %F;fi
Icon=ks-android-apk-manager
Name=Android Package Manager
Name[de]=Paketverwalter für Android
Name[es]=Administrador de Paquetes para Android
Name[fr]=Gestionnaire de Paquets Android
Name[it]=Gestore dei Pacchetti per Android
Name[ja]=Android のためのパッケージの長官
Name[ko]=꾸러미의 관리자 Android
Name[pt]=Administrador de Pacotes para Android
Name[ru]=Администратор Пакетов Android
Name[uk]=Адміністратор Пакетів Android
Name[zh_CN]=Android 应用管理器
Name[x-test]=xxAndroid Package Managerxx

[Desktop Action ARM]
Exec=which adb; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Android Reboot Manager" --passivepopup="[Error] Please install adb command and try again."; exit 1; else /usr/share/applications/Android_Tools-reboot.sh %F;fi
Icon=ks-android-reboot
Name=Android Reboot Manager
Name[de]=Neustartassisstent für Android
Name[es]=Administrador de Reinicio para Android
Name[fr]=Gestionnaire de Redémarrage Android
Name[it]=Gestore Riavvio per Android
Name[ja]=Android のための１リスタートの長官
Name[ko]=I재시동의 관리자 Android
Name[pt]=Administrador de Mim Reinicia para Android
Name[ru]=Android Reboot Менеджер
Name[uk]=Android Reboot Менеджер
Name[zh_CN]=Android 电源管理器
Name[x-test]=xxAndroid Reboot Managerxx
