[Desktop Entry]
Actions=ABM;AFM;APM;ARM;
Icon=/usr/share/icons/hicolor/scalable/apps/ks-android-apk-manager.svgz
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=Android Tools
Name[de]=Android - Werkzeuge
Name[es]=Android - Herramientas
Name[fr]=Android - Outils
Name[it]=Android - Attrezzi
Name[ja]=Android 道具
Name[ko]=Android 도구
Name[pt]=Android - Ferramentas
Name[ru]=Инструменты Android
Name[uk]=Інструменти Android
Name[zh_CN]=Android 工具
X-KDE-Submenu[x-test]=xxAndroid Toolsxx

[Desktop Action ABM]
Exec=which adb; if [ "$?" != "0" ];then kdialog --icon=/usr/share/icons/hicolor/scalable/apps/ks-error.svgz --title="Android Backup Manager" --passivepopup="[Error] Please install adb command and try again."; exit 1; else /usr/share/applications/Android_Tools-backup-restore.sh %F;fi
Icon=/usr/share/icons/hicolor/scalable/apps/ks-android-backup-restore.svgz
Name=Android Backup Manager
Name[de]=Zurück Verwalter für Android
Name[es]=Administrador de Respaldo para Android
Name[fr]=Administrateur de Dossier pour Android
Name[it]=Amministratore di Schienale per Android
Name[ja]=Android のために長官を支持してください
Name[ko]=관리자를 후퇴시켜라 Android
Name[pt]=Atrás o Administrador para Android
Name[ru]=Android Backup Менеджер
Name[uk]=Android Backup Менеджер
Name[zh_CN]=背面管理人为 Android
Name[x-test]=xxAndroid Backup Managerxx

[Desktop Action AFM]
Exec=which adb; if [ "$?" != "0" ];then kdialog --icon=/usr/share/icons/hicolor/scalable/apps/ks-error.svgz --title="Android File Manager" --passivepopup="[Error] Please install adb command and try again."; exit 1; else /usr/share/applications/Android_Tools-push-pull.sh %F;fi
Icon=/usr/share/icons/hicolor/scalable/apps/ks-android-push-pull.svgz
Name=Android File Manager
Name[de]=Verwalter der Akten für Android
Name[es]=Administrador de Ficheros para Android
Name[fr]=Administrateur de Fichiers pour Android
Name[it]=Amministratore di Schedari per Android
Name[ja]=Android のためのファイルの長官
Name[ko]=파일의 관리자 Android
Name[pt]=Administrador de Arquivos para Android
Name[ru]=Android Менеджер Файла
Name[uk]=Android Реєструють Менеджера
Name[zh_CN]=文件的管理人为 Android
Name[x-test]=xxAndroid File Managerxx

[Desktop Action APM]
Exec=which adb; if [ "$?" != "0" ];then kdialog --icon=/usr/share/icons/hicolor/scalable/apps/ks-error.svgz --title="Android Package Manager" --passivepopup="[Error] Please install adb command and try again."; exit 1; else /usr/share/applications/Android_Tools-apk-manager.sh %F;fi
Icon=/usr/share/icons/hicolor/scalable/apps/ks-android-apk-manager.svgz
Name=Android Package Manager
Name[de]=Verwalter der Pakete für Android
Name[es]=Administrador de Paquetes para Android
Name[fr]=Administrateur de Paquets pour Android
Name[it]=Amministratore di Pacchetti per Android
Name[ja]=Android のためのパッケージの長官
Name[ko]=꾸러미의 관리자 Android
Name[pt]=Administrador de Pacotes para Android
Name[ru]=Администратор Пакетов Android
Name[uk]=Адміністратор Пакетів Android
Name[zh_CN]=包裹的管理人为 Android
Name[x-test]=xxAndroid Package Managerxx

[Desktop Action ARM]
Exec=which adb; if [ "$?" != "0" ];then kdialog --icon=/usr/share/icons/hicolor/scalable/apps/ks-error.svgz --title="Android Reboot Manager" --passivepopup="[Error] Please install adb command and try again."; exit 1; else /usr/share/applications/Android_Tools-reboot.sh %F;fi
Icon=/usr/share/icons/hicolor/scalable/apps/ks-android-reboot.svgz
Name=Android Reboot Manager
Name[de]=Verwalter von Mir Fängt Wieder für Android
Name[es]=Administrador de Reinicio para Android
Name[fr]=Administrateur de je Recommence pour Android
Name[it]=Amministratore di Ricomincio per Android
Name[ja]=Android のための１リスタートの長官
Name[ko]=I재시동의 관리자 Android
Name[pt]=Administrador de Mim Reinicia para Android
Name[ru]=Android Reboot Менеджер
Name[uk]=Android Reboot Менеджер
Name[zh_CN]=我的管理人重新开始 Android
Name[x-test]=xxAndroid Reboot Managerxx
