[Desktop Entry]
Actions=AVinfo;
Icon=ks-audio-video-info
MimeType=audio/*;video/*;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-StartupNotify=false
X-KDE-Submenu=KDE-Services
X-KDE-Submenu[x-test]=xxKDE-Servicesxx

[Desktop Action AVinfo]
Exec=which ffprobe; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="[Audio|Video] Info" --passivepopup="[Error] Please install ffprobe command and try again."; exit 1; else SERIAL=$(date +%s); for file in %F;do ffprobe $file 2> /tmp/info-$SERIAL; echo "File: ${file##*/}" >> /tmp/info2-$SERIAL; grep -e Duration -e Stream /tmp/info-$SERIAL >> /tmp/info2-$SERIAL; echo >> /tmp/info2-$SERIAL;done; kdialog --icon=ks-audio-video-info --title="[Audio|Video] Info" --textbox /tmp/info2-$SERIAL $(($(cat /tmp/info2-$SERIAL|wc -L)*7)) 140; rm -f /tmp/info*;fi
Icon=ks-audio-video-info
Name=[Audio|Video] Info
Name[de]=[Audio|Video] Info
Name[es]=Información de [Audio|Video]
Name[fr]=Information [Audio|Vidéo]
Name[it]=Informazioni [Audio|Video]
Name[ja]=インフォメーションの [オーディオ|ビデオ]
Name[ko]=정보 의 [음성|비디오]
Name[pt]=Informação de [Auditivo|Vídeo]
Name[ru]=Информация о [Аудио|Видео]
Name[uk]=Інформація про [Аудіо|Відео]
Name[zh_CN]=[音频|视频]信息
Name[x-test]=xx[Audio|Video] Infoxx
