[Desktop Entry]
Actions=AVIsplitSize;AVIsplitTime;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-video.png
MimeType=video/x-msvideo;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=AVI Tools
X-KDE-Submenu[es]=AVI - Herramientas
X-KDE-Submenu[ru]=Инструменты AVI
X-KDE-Submenu[uk]=Інструменти AVI
X-KDE-Submenu[x-test]=xxAVI Toolsxx

[Desktop Action AVIsplitSize]
Exec=which avisplit; if [ "$?" != "0" ];then kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-error.png --title="Split (to size)" --passivepopup="[Error] Please install transcode package from RPM Fusion repositories and try again."; exit 1; else /usr/share/applications/AVI_Tools-avi-split-size.sh %F;fi
Icon=/usr/share/icons/hicolor/512x512/apps/ks-video.png
Name=Split (to size)
Name[es]=Cortar (a medida)
Name[ru]=Разбить (по размеру)
Name[uk]=Розбити (за розміром)
Name[x-test]=xxSplit (to size)xx

[Desktop Action AVIsplitTime]
Exec=which avisplit; if [ "$?" != "0" ];then kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-error.png --title="Split (by time range)" --passivepopup="[Error] Please install transcode package from RPM Fusion repositories and try again."; exit 1; else /usr/share/applications/AVI_Tools-avi-split-time.sh %F;fi
Icon=/usr/share/icons/hicolor/512x512/apps/ks-video.png
Name=Split (by time range)
Name[es]=Cortar (por rango de tiempo)
Name[ru]=Разбить (по временным отрезкам)
Name[uk]=Розбити (за часовими проміжками)
Name[x-test]=xxSplit (by time range)xx
