[Desktop Entry]
Actions=AVIsplitSize;AVIsplitTime;
Icon=ks-video
MimeType=video/x-msvideo;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=AVI Tools
X-KDE-Submenu[de]=AVI - Werkzeuge
X-KDE-Submenu[es]=AVI - Herramientas
X-KDE-Submenu[fr]=Outils AVI
X-KDE-Submenu[it]=AVI - Strumenti
X-KDE-Submenu[ja]=AVI 道具
X-KDE-Submenu[ko]=AVI 도구
X-KDE-Submenu[pt]=AVI - Ferramentas
X-KDE-Submenu[ru]=Инструменты AVI
X-KDE-Submenu[uk]=Інструменти AVI
X-KDE-Submenu[zh_CN]=AVI 工具
X-KDE-Submenu[x-test]=xxAVI Toolsxx

[Desktop Action AVIsplitSize]
Exec=which avisplit; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Split (to size)" --passivepopup="[Error] Please install avisplit command and try again."; exit 1; else /usr/share/applications/AVI_Tools-avi-split-size.sh %F;fi
Icon=ks-video
Name=Split (to size)
Name[de]=Auf Größe stückeln
Name[es]=Cortar (a medida)
Name[fr]=Couper (à la tailler)
Name[it]=Dividi (a misura)
Name[ja]=カットに (分量に)
Name[ko]=자른다 (측정에)
Name[pt]=Cortar (medir)
Name[ru]=Разбить (по размеру)
Name[uk]=Розбити (за розміром)
Name[zh_CN]=按大小分隔
Name[x-test]=xxSplit (to size)xx

[Desktop Action AVIsplitTime]
Exec=which avisplit; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Split (by time range)" --passivepopup="[Error] Please install avisplit command and try again."; exit 1; else /usr/share/applications/AVI_Tools-avi-split-time.sh %F;fi
Icon=ks-video
Name=Split (by time range)
Name[de]=Auf Länge stückeln
Name[es]=Cortar (por rango de tiempo)
Name[fr]=Couper (par tranche de temps)
Name[it]=Dividi (per area temporale)
Name[ja]=カットに (時間の範囲で)
Name[ko]=자른다 (시간의 범위를 위해)
Name[pt]=Cortar (para gama de tempo)
Name[ru]=Разбить (по временным отрезкам)
Name[uk]=Розбити (за часовими проміжками)
Name[zh_CN]=按时间分割
Name[x-test]=xxSplit (by time range)xx
