[Desktop Entry]
Actions=Backup-Restore-Standards;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-database.png
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=Backup Tools
X-KDE-Submenu[es]=Respaldo - Herramientas
X-KDE-Submenu[ru]=Инструменты копирования
X-KDE-Submenu[uk]=Інструменти копіювання
X-KDE-Submenu[x-test]=xxBackup Toolsxx

[Desktop Action Backup-Restore-Standards]
Exec=/usr/share/applications/Backup_Tools-standard.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-database.png
Name=Standards
Name[es]=Estándares
Name[ru]=Стандартные
Name[uk]=Стандартні
Name[x-test]=xxStandardsxx
