[Desktop Entry]
Actions=ChangeTimestamp;
Icon=ks-clock
MimeType=all/allfiles;inode/directory;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-StartupNotify=false
X-KDE-Submenu=KDE-Services
X-KDE-Submenu[x-test]=xxKDE-Servicesxx

[Desktop Action ChangeTimestamp]
Exec=TIMESTAMP=$(kdialog --icon=ks-clock --title="Change Timestamp to [File|Directory]" --inputbox="Enter New Timestamp" "$(date "+%0Y-%0m-%0d %0H:%0M:%0S")"); if [ "$?" != "0" ];then exit 1; else COUNT="0"; COUNTFILES=$(echo %F|wc -w); COUNTFILES=$((++COUNTFILES));  DBUSREF=$(kdialog --icon=ks-clock --title="Change Timestamp to [File|Directory]" --progressbar "\t\t\t\t\t\t\t" $COUNTFILES); for file in %F;do COUNT=$((++COUNT)); qdbus $DBUSREF setLabelText "Changing timestamp to ${file##*/}  [$COUNT/$((COUNTFILES-1))]"; qdbus $DBUSREF Set "" value $COUNT; cd ${file%/*}; touch -cd "$TIMESTAMP" "$file";done; qdbus $DBUSREF Set "" value $COUNTFILES; sleep 1; qdbus $DBUSREF close; kdialog --icon=ks-clock --title="Change Timestamp to [File|Directory]" --passivepopup="[Finished]";fi
Icon=ks-clock
Name=Change Timestamp to [File|Directory]
Name[de]=Datum ändern [File|Verzeichnis]
Name[es]=Cambiar Fecha del [Fichero|Directorio]
Name[fr]=Changer la Date du [Fichier|Dossier]
Name[it]=Cambia Data [File|Cartella]
Name[ja]=日付を変えることの [ファイル|ディレクトリ]
Name[ko]=날짜를 변한다 [파일|디렉토리]
Name[pt]=Mudar Data do [Arquivo|Diretório]
Name[ru]=Изменить отметку времени [Файла|Папки]
Name[uk]=Змінити відмітку часу [Файлу|Теки]
Name[zh_CN]=改变[文件|目录]时间戳
Name[x-test]=xxChange Timestamp to [File|Directory]xx
