[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;inode/directory;
Icon=timeadjust
Actions=change-timestamp;

[Desktop Action change-timestamp]
Name=Change Timestamp To [File|Directory]
Name[en_US]=Change Timestamp To [File|Directory]
Name[es]=Cambiar Fecha del [Fichero|Directorio]
Name[x-test]=xxChange Timestamp To [File|Directory]xx
Icon=timeadjust
Exec=/usr/share/applications/Change_file-dir_timestamp.sh
