[Desktop Entry]
Actions=ChangeOwner;
Icon=ks-owner
MimeType=all/allfiles;
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=KDE-Services
X-KDE-Submenu[x-test]=xxKDE-Servicesxx

[Desktop Action ChangeOwner]
Exec=kdesu -i ks-owner --noignorebutton -d /usr/share/applications/Dolphin_Tools-change-owner.sh %F
Icon=ks-owner
Name=Change Owner Here
Name[de]=Eigentümer hier ändern
Name[es]=Cambiar Propietario Aquí
Name[fr]=Changer de Propriétaire
Name[it]=Cambia il Proprietario
Name[ja]=ここで所有者を変えるために
Name[ko]=소유자를 여기에서 바꾼다
Name[pt]=Mudar o Proprietário Aqui
Name[ru]=Изменить здесь владельца
Name[uk]=Змінити тут власника
Name[zh_CN]=改变文件所有者
Name[x-test]=xxChange Owner Herexx
