[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Icon=emblem-new
Actions=MD5-Sum;SHA1-Sum;SHA256-Sum;SHA512-Sum;_SEPARATOR_;CheckSum;
X-KDE-Submenu=CheckSum Tools
X-KDE-Submenu[en_US]=CheckSum Tools
X-KDE-Submenu[es]=Herramientas - CheckSum
X-KDE-Submenu[x-test]=xxCheckSum Toolsxx
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action MD5-Sum]
Name=MD5 (Strong)
Name[en_US]=MD5 (Strong)
Name[es]=MD5 (Fuerte)
Name[x-test]=xxMD5 (Strong)xx
Icon=emblem-new
Exec=DBUSREF=$(kdialog --icon=emblem-new --caption="CheckSum MD5" --progressbar "							" /ProgressDialog); qdbus $DBUSREF setLabelText "Computing:  $(basename %u)"; md5sum "%u" > $(ls %u).md5; sed -i "s; $(dirname %u)/;*;" $(ls %u).md5; qdbus $DBUSREF close; kdialog --icon=emblem-new --title="CheckSum MD5" --passivepopup="[Finished]    $(basename %u)"

[Desktop Action SHA1-Sum]
Name=SHA1 (Good Strong)
Name[en_US]=SHA1 (Good Strong)
Name[es]=SHA1 (Bien Fuerte)
Name[x-test]=xxSHA1 (Good Strong)xx
Icon=emblem-new
Exec=DBUSREF=$(kdialog --icon=emblem-new --caption="CheckSum SHA1" --progressbar "							" /ProgressDialog); qdbus $DBUSREF setLabelText "Computing:  $(basename %u)"; sha1sum "%u" > $(ls %u).sha1; sed -i "s; $(dirname %u)/;*;" $(ls %u).sha1; qdbus $DBUSREF close; kdialog --icon=emblem-new --title="CheckSum SHA1" --passivepopup="[Finished]    $(basename %u)"

[Desktop Action SHA256-Sum]
Name=SHA256 (Very Strong)
Name[en_US]=SHA256 (Very Strong)
Name[es]=SHA256 (Muy Fuerte)
Name[x-test]=xxSHA256 (Very Strong)xx
Icon=emblem-new
Exec=DBUSREF=$(kdialog --icon=emblem-new --caption="CheckSum SHA256" --progressbar "							" /ProgressDialog); qdbus $DBUSREF setLabelText "Computing:  $(basename %u)"; sha256sum "%u" > $(ls %u).sha256; sed -i "s; $(dirname %u)/;*;" $(ls %u).sha256; qdbus $DBUSREF close; kdialog --icon=emblem-new --title="CheckSum SHA256" --passivepopup="[Finished]    $(basename %u)"

[Desktop Action SHA512-Sum]
Name=SHA512 (High Strong)
Name[en_US]=SHA512 (High Strong)
Name[es]=SHA512 (Super Fuerte)
Name[x-test]=xxSHA512 (High Strong)xx
Icon=emblem-new
Exec=DBUSREF=$(kdialog --icon=emblem-new --caption="CheckSum SHA512" --progressbar "							" /ProgressDialog); qdbus $DBUSREF setLabelText "Computing:  $(basename %u)"; sha512sum "%u" > $(ls %u).sha512; sed -i "s; $(dirname %u)/;*;" $(ls %u).sha512; qdbus $DBUSREF close; kdialog --icon=emblem-new --title="CheckSum SHA512" --passivepopup="[Finished]    $(basename %u)"

[Desktop Action CheckSum]
Name=Verify CheckSum
Name[en_US]=Verify CheckSum
Name[es]=Verificar CheckSum
Name[x-test]=xxVerify CheckSumxx
Icon=emblem-new
Exec=/usr/share/applications/CheckSum_Tools-verify-checksum.sh
