[Desktop Entry]
Actions=MD5-Sum;SHA1-Sum;SHA256-Sum;SHA512-Sum;_SEPARATOR_;CheckSum;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png
MimeType=all/allfiles;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu[en_US]=CheckSum Tools
X-KDE-Submenu=CheckSum Tools
X-KDE-Submenu[es]=Herramientas - CheckSum
X-KDE-Submenu[x-test]=xxCheckSum Toolsxx

[Desktop Action CheckSum]
Exec=/usr/share/applications/CheckSum_Tools-verify-checksum.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png
Name[en_US]=Verify CheckSum
Name=Verify CheckSum
Name[es]=Verificar CheckSum
Name[x-test]=xxVerify CheckSumxx

[Desktop Action MD5-Sum]
Exec=DBUSREF=$(kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png --caption="CheckSum MD5" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Computing:  $(basename %u)"; md5sum "%u" > $(ls %u).md5; sed -i "s; $(dirname %u)/;*;" $(ls %u).md5; qdbus $DBUSREF close; kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png --title="CheckSum MD5" --passivepopup="[Finished]    $(basename %u)"
Icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png
Name[en_US]=MD5 (Strong)
Name=MD5 (Strong)
Name[es]=MD5 (Fuerte)
Name[x-test]=xxMD5 (Strong)xx

[Desktop Action SHA1-Sum]
Exec=DBUSREF=$(kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png --caption="CheckSum SHA1" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Computing:  $(basename %u)"; sha1sum "%u" > $(ls %u).sha1; sed -i "s; $(dirname %u)/;*;" $(ls %u).sha1; qdbus $DBUSREF close; kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png --title="CheckSum SHA1" --passivepopup="[Finished]    $(basename %u)"
Icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png
Name[en_US]=SHA1 (Good Strong)
Name=SHA1 (Good Strong)
Name[es]=SHA1 (Bien Fuerte)
Name[x-test]=xxSHA1 (Good Strong)xx

[Desktop Action SHA256-Sum]
Exec=DBUSREF=$(kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png --caption="CheckSum SHA256" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Computing:  $(basename %u)"; sha256sum "%u" > $(ls %u).sha256; sed -i "s; $(dirname %u)/;*;" $(ls %u).sha256; qdbus $DBUSREF close; kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png --title="CheckSum SHA256" --passivepopup="[Finished]    $(basename %u)"
Icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png
Name[en_US]=SHA256 (Very Strong)
Name=SHA256 (Very Strong)
Name[es]=SHA256 (Muy Fuerte)
Name[x-test]=xxSHA256 (Very Strong)xx

[Desktop Action SHA512-Sum]
Exec=DBUSREF=$(kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png --caption="CheckSum SHA512" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Computing:  $(basename %u)"; sha512sum "%u" > $(ls %u).sha512; sed -i "s; $(dirname %u)/;*;" $(ls %u).sha512; qdbus $DBUSREF close; kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png --title="CheckSum SHA512" --passivepopup="[Finished]    $(basename %u)"
Icon=/usr/share/icons/hicolor/512x512/apps/ks-checksum.png
Name[en_US]=SHA512 (High Strong)
Name=SHA512 (High Strong)
Name[es]=SHA512 (Super Fuerte)
Name[x-test]=xxSHA512 (High Strong)xx
