[Desktop Entry]
Actions=Name-Whitespace-Replace;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-dolphin-file-manager.png
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false

[Desktop Action Name-Whitespace-Replace]
Exec=/usr/share/applications/Dolphin_Tools-name-whitespace-replace.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-whitespace-replace.png
Name[en_US]=[File|Dir]name Whitespace Replace
Name=[File|Dir]name Whitespace Replace
Name[es]=Reemplazar Espacio En Nombre De [Fichero|Directorio]
Name[x-test]=xx[File|Dir]name Whitespace Replacexx
