[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
MimeType=all/allfiles;
Actions=ChangeOwner;
Icon=system-file-manager
X-KDE-StartupNotify=false

[Desktop Action ChangeOwner]
Name=Change Owner Here
Name[en_US]=Change Owner Here
Name[es]=Cambiar Propietario Aquí
Name[x-test]=xxChange Owner Herexx
Icon=meeting-organizer
Exec=kdesu --noignorebutton -d /usr/share/applications/Dolphin_Tools-change-owner.sh
