[Desktop Entry]
Actions=Connect;ViewMachine;DiskUse;
Icon=ks-dolphin-file-manager
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=Dolphin Tools
X-KDE-Submenu[de]=Dolphin Werkzeuge
X-KDE-Submenu[es]=Dolphin - Herramientas
X-KDE-Submenu[fr]=Outils Dolphin
X-KDE-Submenu[it]=Dolphin - Strumenti
X-KDE-Submenu[ja]=Dolphin 道具
X-KDE-Submenu[ko]=Dolphin 도구
X-KDE-Submenu[pt]=Dolphin - Ferramentas
X-KDE-Submenu[ru]=Инструменты Dolphin
X-KDE-Submenu[uk]=Інструменти Dolphin
X-KDE-Submenu[zh_CN]=Dolphin 工具
X-KDE-Submenu[x-test]=xxDolphin Toolsxx

[Desktop Action Connect]
Exec=/usr/share/applications/Dolphin_Tools-connect.sh %F
Icon=ks-folder-remote
Name=Connect to
Name[de]=Verbinde mit
Name[es]=Conectar a
Name[fr]=Se Connecter à
Name[it]=Connetti a
Name[ja]=から連結してください
Name[ko]=이어진다
Name[pt]=Conecte
Name[ru]=Подключиться к
Name[uk]=Підключитися до
Name[zh_CN]=连接至
Name[x-test]=xxConnect toxx

[Desktop Action DiskUse]
Exec=/usr/share/applications/Dolphin_Tools-disk-use.sh %F
Icon=ks-disk-space-used
Name=Disk Space Used
Name[de]=Belegter Speicherplatz
Name[es]=Espacio de Disco Usado
Name[fr]=Espace Disque Utilisé
Name[it]=Spazio Disco Usato
Name[ja]=使用済みのディスクのスペース
Name[ko]=익숙한 디스크의 공간
Name[pt]=Espaço de Disco Usou
Name[ru]=Использовние дискового пространства
Name[uk]=Використання дискового простору
Name[zh_CN]=磁盘空间占用情况
Name[x-test]=xxDisk Space Usedxx

[Desktop Action ViewMachine]
Exec=/usr/share/applications/SSH_Tools-register-machine.sh %F
Icon=ks-server
Name=Registered Servers
Name[de]=Registrierte Server
Name[es]=Servidores Registrados
Name[fr]=Serveurs Enregistrés
Name[it]=Server Registrati
Name[ja]=登録された使用人
Name[ko]=등록 하인
Name[pt]=Servidores Registrados
Name[ru]=Зарегестрированные серверы
Name[uk]=Зареєстровані сервери
Name[zh_CN]=已注册服务器
Name[x-test]=xxRegistered Serversxx
