[Desktop Entry]
Actions=ExecScript;RootExecScript;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-shellscript.png
MimeType=application/x-shellscript;application/x-executable;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu[en_US]=Konsole
X-KDE-Submenu=Konsole
X-KDE-Submenu[es]=Konsole
X-KDE-Submenu[x-test]=xxKonsolexx

[Desktop Action ExecScript]
Exec=chmod 755 %u; konsole --hold -e %u
Icon=/usr/share/icons/hicolor/512x512/apps/ks-shellscript.png
Name[en_US]=Run Application
Name=Run Application
Name[es]=Ejecutar Programa
Name[x-test]=xxRun Applicationxx

[Desktop Action RootExecScript]
Exec=kdesu --caption="Run Application" --noignorebutton -d -c "chmod 755 %u; konsole --hold -e %u"
Icon=/usr/share/icons/hicolor/512x512/apps/ks-shellscript.png
Name[en_US]=Run Application (Root)
Name=Run Application (Root)
Name[es]=Ejecutar Programa como root
Name[x-test]=xxRun Application (Root)xx
