[Desktop Entry]
Actions=Root-mc;Root-mcedit;User-mc;User-mcedit;
Icon=ks-mc-user
MimeType=all/allfiles;
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=Midnight Tools
X-KDE-Submenu[de]=Midnight Werkzeuge
X-KDE-Submenu[es]=Midnight - Herramientas
X-KDE-Submenu[fr]=Outils Midnight
X-KDE-Submenu[it]=Midnight - Strumenti
X-KDE-Submenu[ja]=Midnight 道具
X-KDE-Submenu[ko]=Midnight 도구
X-KDE-Submenu[pt]=Midnight - Ferramentas
X-KDE-Submenu[ru]=Инструменты Midnight
X-KDE-Submenu[uk]=Інструменти Midnight
X-KDE-Submenu[zh_CN]=Midnight 工具
X-KDE-Submenu[x-test]=xxMidnight Toolsxx

[Desktop Action Root-mc]
Exec=which mc; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="[Root ~]# mc" --passivepopup="[Error] Please install mc command and try again."; exit 1; else kdesu -i ks-mc-root --noignorebutton -d -c "konsole --new-tab -e mc";fi
Icon=ks-mc-root
Name=[Root ~]# mc
Name[x-test]=xx[Root ~]# mcxx

[Desktop Action Root-mcedit]
Exec=which mcedit; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="[Root ~]# mcedit" --passivepopup="[Error] Please install mcedit command and try again."; exit 1; else kdesu -i ks-mcedit-root --noignorebutton -d -c "konsole --new-tab -e mcedit";fi
Icon=ks-mcedit-root
Name=[Root ~]# mcedit
Name[x-test]=xx[Root ~]# mceditxx

[Desktop Action User-mc]
Exec=which mc; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="[User ~]$ mc" --passivepopup="[Error] Please install mc command and try again."; exit 1; else konsole --new-tab -e mc;fi
Icon=ks-mc-user
Name=[User ~]$ mc
Name[x-test]=xx[User ~]$ mcxx

[Desktop Action User-mcedit]
Exec=which mcedit; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="[User ~]$ mcedit" --passivepopup="[Error] Please install mcedit command and try again."; exit 1; else konsole --new-tab -e mcedit;fi
Icon=ks-mcedit-user
Name=[User ~]$ mcedit
Name[x-test]=xx[User ~]$ mceditxx
