[Desktop Entry]
Actions=MKVextractSubtitle;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-video.png
MimeType=video/x-matroska;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-StartupNotify=false
X-KDE-Submenu=KDE-Services
X-KDE-Submenu[x-test]=xxKDE-Servicesxx

[Desktop Action MKVextractSubtitle]
Exec=/usr/share/applications/MKV_Extract-subtitle.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-video.png
Name=MKV Extract Subtitle
Name[de]=MKV um Untertitel zu Ziehen
Name[es]=MKV Extraer Subtítulo
Name[fr]=MKV Extraire Sous-titre
Name[it]=MKV Estrarre Sottotitolo
Name[ja]=引き出すべき MKV は字幕を付けます
Name[ko]=부제를 빼내는 MKV
Name[pt]=MKV para Extrair Subtítulo
Name[ru]=MKV Извлечь субтитры
Name[uk]=MKV Видобути субтитри
Name[zh_CN]=MKV 吸取副题
Name[x-test]=xxMKV Extract Subtitlexx
