[Desktop Entry]
Actions=Multiplex-Subtitle;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-multiplexing-subs.png
MimeType=video/mpeg;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-StartupNotify=false

[Desktop Action Multiplex-Subtitle]
Exec=/usr/share/applications/Multiplex_Subtitle.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-multiplexing-subs.png
Name=Multiplex Subtitle
Name[es]=Multiplexar Subtítulo
Name[ru]=Мультиплексор субтитров
Name[uk]=Мультиплексор субтитрів
Name[x-test]=xxMultiplex Subtitlexx
