[Desktop Entry]
Actions=DVD-Assembler;convert-video;AddSubMP4;AdjustVolumeLevel;extract-audio;VideoRotate;TimeEditMediaFiles;AudioMP3AttachCover;CleanMetadataMediaFiles;ConcatenateMediaFiles;ISOBuild;DiskCloner;record-my-desktop;vlc-openfolder;
Icon=ks-media-optical-video
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=Multimedia Tools
X-KDE-Submenu[de]=Multimedia - Werkzeuge
X-KDE-Submenu[es]=Multimedia - Herramientas
X-KDE-Submenu[fr]=Outils Multimédia
X-KDE-Submenu[it]=Multimedia - Strumenti
X-KDE-Submenu[ja]=マルチメディアツール
X-KDE-Submenu[ko]=멀티미디어 도구
X-KDE-Submenu[pt]=Multimídias - Ferramentas
X-KDE-Submenu[ru]=Инструменты Мультимедиа
X-KDE-Submenu[uk]=Інструменти Мультимедіа
X-KDE-Submenu[zh_CN]=多媒体工具
X-KDE-Submenu[x-test]=xxMultimedia Toolsxx

[Desktop Action DVD-Assembler]
Exec=which ffprobe dvdauthor genisoimage; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="DVD Assembler" --passivepopup="[Error] Please install ffprobe, dvdauthor and genisoimage command and try again."; exit 1; else /usr/share/applications/DVD_Tools-d.v.d.-assembler.sh %F;fi
Icon=ks-media-optical-video
Name=DVD Assembler
Name[de]=DVD zusammenstellen
Name[es]=Ensamblador de DVD
Name[fr]=Assembleur de DVD
Name[it]=Assembla di DVD
Name[ja]=アセンブラの DVD
Name[ko]=조립하는 사람 의 DVD
Name[pt]=Montador de DVD
Name[ru]=DVD Сборщик
Name[uk]=DVD Компанувальник
Name[zh_CN]=DVD 生成器
Name[x-test]=xxDVD Assemblerxx

[Desktop Action ISOBuild]
Exec=which genisoimage; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Build ISO-9660 Image from Here" --passivepopup="[Error] Please install genisoimage command and try again."; exit 1; else DBUSREF=$(kdialog --icon=ks-media-optical-mount --title="Build ISO-9660 Image from Here" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Building:  $(basename %f.iso)"; genisoimage -R -J -o %f.iso %f; qdbus $DBUSREF close; echo "Finish Build Image" > /tmp/speak; text2wave -F 48000 -o /tmp/speak.wav /tmp/speak; play /tmp/speak.wav; rm -fr /tmp/speak*; kdialog --icon=ks-media-optical-mount --title="Build ISO-9660 Image from Here" --passivepopup="[Finished]   $(basename %f.iso)";fi
Icon=ks-media-optical-mount
Name=Build ISO-9660 Image from Here
Name[de]=ISO-9660 Abbild hier erstellen
Name[es]=Construir Imagen ISO-9660 desde Aquí
Name[fr]=Construire Image ISO-9660 depuis Ici
Name[it]=Costruisci Immagine ISO-9660 da Qui
Name[ja]=ここからイメージ ISO-9660 を作るために
Name[ko]=이미지 ISO-9660를 여기로 만든다
Name[pt]=Construir ISO-9660 de Imagem de Aqui
Name[ru]=Собрать ISO-9660 образ отсюда
Name[uk]=Зібрати ISO-9660 образ звідси
Name[zh_CN]=在此生成 ISO-9660 镜像
Name[x-test]=xxBuild ISO-9660 Image from Herexx

[Desktop Action DiskCloner]
Exec=which lsblk dd; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="DiskCloner" --passivepopup="[Error] Please install lsblk and dd command and try again."; exit 1; else /usr/share/applications/DiskCloner.sh %F;fi
Icon=ks-media-optical-clone
Name=DiskCloner
Name[de]=DiskCloner (speicherkloner)
Name[es]=DiskCloner (clonador de disco)
Name[fr]=DiskCloner (cloner le disque)
Name[it]=DiskCloner (clona disco)
Name[ja]=DiskCloner (ディスククローン)
Name[ko]=DiskCloner (디스크 클론)
Name[pt]=DiskCloner (clonador de disco)
Name[ru]=DiskCloner (Чтобы скопировать диск)
Name[uk]=DiskCloner (Щоб скопіювати диск)
Name[zh_CN]=DiskCloner (磁盘克隆)
Name[x-test]=xxDiskClonerxx

[Desktop Action convert-video]
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Convert Video Files" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else /usr/share/applications/ffmpeg_multifile-convert-video.sh %F;fi
Icon=ks-video
Name=Convert Video Files
Name[de]=Videodateien konvertieren
Name[es]=Convertir Archivos de Video
Name[fr]=Convertir les Fichiers Vidéo
Name[it]=Converti File Video
Name[ja]=ビデオファイルを変換するために
Name[ko]=비디오 파일을 바꾼다
Name[pt]=Converter Arquivos Vídeos
Name[ru]=Конвертировать файлы видео
Name[uk]=Конвертувати файли відео
Name[zh_CN]=转换视频文件
Name[x-test]=xxConvert video filesxx

[Desktop Action extract-audio]
Exec=which ffmpeg sox mp3gain; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="[Extract|Convert] Audio Track" --passivepopup="[Error] Please install ffmpeg, sox and mp3gain command and try again."; exit 1; else /usr/share/applications/ffmpeg_multifile-extract-audio.sh %F;fi
Icon=ks-audio
Name=[Extract|Convert] Audio Track
Name[de]=[Extrahiere|Konvertiere] Audiospur
Name[es]=[Extraer|Convertir] Pista de Audio
Name[fr]=[Extrait|Convertit] Pistes Sonores
Name[it]=[Estratto|Converti] Tracce Audio
Name[ja]=[抜粋|コンバート]音声の痕跡
Name[ko]=[엑스트랙트|바꾼다] 오디오 트랙
Name[pt]=[Extrato|Converta] Rastos Auditivos
Name[ru]=[Извлечь|Конвертировать] аудио трек
Name[uk]=[Видобути|Конвертувати] аудіо трек
Name[zh_CN]=[提取|转换]音频轨道
Name[x-test]=xx[Extract|Convert] Audio Trackxx

[Desktop Action record-my-desktop]
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Record My Desktop" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else /usr/share/applications/ffmpeg_record-my-desktop.sh %F;fi
Icon=ks-media-tape
Name=Record My Desktop (record video screen)
Name[de]=Desktop aufzuzeichnen (bildschirm aufzuzeichnen)
Name[es]=Grabar Mi Escritorio (grabar pantalla de video)
Name[fr]=Enregistrer le Bureau (vidéo)
Name[it]=Registra la Mia Scrivania (registra schermo video)
Name[ja]=私のデスクを記録するために (レコードビデオスクリーンに)
Name[ko]=나의 책상을 기록한다 (ＣＲＴ 표시 화면 장치를 기록한다)
Name[pt]=Registrar Minha Escrivaninha (registrar tela vídea)
Name[ru]=Record My Desktop (видеозахват экрана)
Name[uk]=Record My Desktop (відеозахоплення екрану)
Name[zh_CN]=录制我的桌面 (屏幕视频录制)
Name[x-test]=xxRecord My Desktop (record video screen)xx

[Desktop Action vlc-openfolder]
Exec=which vlc; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Play Video from Here" --passivepopup="[Error] Please install vlc command and try again."; exit 1; else vlc -f %F 2> /dev/null;fi
Icon=vlc
Name=Play Video from Here
Name[de]=Video von hier abspielen
Name[es]=Reproducir Video Aquí
Name[fr]=Lire la Vidéo d'Ici
Name[it]=Riproduci Video
Name[ja]=ここでビデオを複製するために
Name[ko]=비디오를 여기에서 복사한다
Name[pt]=Reproduzir Vídeo Aqui
Name[ru]=Проиграть видео отсюда
Name[uk]=Програти відео звідси
Name[zh_CN]=在此播放视频
Name[x-test]=xxPlay Video from Herexx

[Desktop Action VideoRotate]
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Rotate Video Files" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else /usr/share/applications/ffmpeg_multifile-video-rotate.sh %F;fi
Icon=ks-video-rotate
Name=Rotate Video Files
Name[de]=Video drehen
Name[es]=Rotar Ficheros de Video
Name[fr]=Rotation de la Vidéo
Name[it]=Ruota File Video
Name[ja]=ビデオファイルを回転させるために
Name[ko]=차형의 비디오 파일에
Name[pt]=Girar Arquivos Vídeos
Name[ru]=Вращайтесь Видео Файлы
Name[uk]=Обертатися Вiдео Файли
Name[zh_CN]=旋转视频文件
Name[x-test]=xxRotate Video Filesxx

[Desktop Action TimeEditMediaFiles]
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Edit Time from Media Files" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else /usr/share/applications/ffmpeg_multifile-edit-media-time.sh %F;fi
Icon=ks-media-edit-time
Name=Edit Time from Media Files
Name[de]=Zeitstempel von Medien editieren
Name[es]=Editar Tiempo de Ficheros Multimedia
Name[fr]=Editer le Temps des Fichiers Multimédia
Name[it]=Modifica Tempo dei File Multimediali
Name[ja]=マルチメディアファイルの時間を発表するために
Name[ko]=파일 멀티미디어의 시간을 공포한다
Name[pt]=Publicar Time de Arquivos de Multimídias
Name[ru]=Отредактируйте Время из Мультимедиа Файлы
Name[uk]=Відредагуйте Час з Мультимедійних Файлів
Name[zh_CN]=修改媒体文件时间
Name[x-test]=xxEdit Time from Media Filesxx

[Desktop Action AudioMP3AttachCover]
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Attach Cover to MP3 Files" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else /usr/share/applications/ffmpeg_multifile-audio-mp3-attach-cover.sh %F;fi
Icon=ks-audio-mp3-attach-cover
Name=Attach Cover to MP3 Files
Name[de]=Cover zu MP3 hinzufügen
Name[es]=Adjuntar Cubierta a Ficheros MP3
Name[fr]=Ajouter la Couverture à des Fichiers MP3
Name[it]=Allega Copertina a File MP3
Name[ja]=ファイル MP3 にカバーされた接続に
Name[ko]=붙는 것은 파일 MP3 에 커버했다
Name[pt]=Prender Coberto a Arquivos MP3
Name[ru]=Приложите Конверт к MP3 Файлы
Name[uk]=Додайте Обкладинку MP3 Файли
Name[zh_CN]=添加 MP3 文件封面图片
Name[x-test]=xxAttach Cover to MP3 Filesxx

[Desktop Action CleanMetadataMediaFiles]
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Clean Metadata from Media Files" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else /usr/share/applications/ffmpeg_multifile-clean-metadata-media-file.sh %F;fi
Icon=ks-media-clean-metadata
Name=Clean Metadata from Media Files
Name[de]=Metadaten löschen
Name[es]=Limpiar Metadatos de Ficheros Multimedia
Name[fr]=Nettoyer les Métadatas des Fichiers Multimédia
Name[it]=Pulisci Metadati dei File Multimediali
Name[ja]=メディアのファイルからのきれいなメタデータ
Name[ko]=미디어 파일로부터의 깨끗한 미터자료
Name[pt]=Limpar Metadatos de Arquivos de Multimídias
Name[ru]=Чистый Metadata из Мультимедиа Файлы
Name[uk]=Почистіть Metadata з Мультимедійних Файлів
Name[zh_CN]=清空媒体文件元数据
Name[x-test]=xxClean Metadata from Media Filesxx

[Desktop Action ConcatenateMediaFiles]
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Concatenate Media Files with Same Codec" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else /usr/share/applications/ffmpeg_multifile-concatenate-media-file.sh %F;fi
Icon=ks-concatenate-media-file
Name=Concatenate Media Files with Same Codec
Name[de]=Mediendateien mit gleichem Codec zusammenführen
Name[es]=Concatenar Ficheros Multimedia con Codecs Iguales
Name[fr]=Concaténer les Fichiers Multimédia avec le Même Codec
Name[it]=Concatena File Multimediali con lo Stesso Codec
Name[ja]=マルチメディアファイルを同じコーデックとリンクするために
Name[ko]=파일 멀티미디어를 같은 코덱에 링크한다
Name[pt]=Unir Arquiva Multimídias com Mesmo Codecs
Name[ru]=Сливайтесь Файлы Мультимедиа с Таким же Codec
Name[uk]=Злийте Мультимедію Файлів з Тим же самий Codec
Name[zh_CN]=使用相同编码连接媒体文件
Name[x-test]=xxConcatenate Media Files with Same Codecxx

[Desktop Action AdjustVolumeLevel]
Exec=which mp3gain; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Volume Normalize of MP3 Files" --passivepopup="[Error] Please install mp3gain command and try again."; exit 1; else /usr/share/applications/Multimedia_Tools-audio-normalize.sh %F;fi
Icon=ks-audio-normalize
Name=Volume Normalize of MP3 Files
Name[de]=Lautstärke von MP3s normalisieren
Name[es]=Normalizar Volumen de Ficheros MP3
Name[fr]=Normaliser le Volume des Fichiers MP3
Name[it]=Normalizza Volume dei File MP3
Name[ja]=ボリュームが MP3 ファイルについて正常化する
Name[ko]=책이 MP3 파일의 안에서 표준화한다
Name[pt]=Volume Normaliza de Arquivos de MP3
Name[ru]=Объем Нормализация MP3 Файлы
Name[uk]=Обсяг Нормалізація MP3 Файли
Name[zh_CN]=MP3 音频音量标准化
Name[x-test]=xxVolume Normalize of MP3 Filesxx

[Desktop Action AddSubMP4]
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Add Subtitle to MP4 File" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else /usr/share/applications/ffmpeg_multifile-add-subtitle.sh %F;fi
Icon=ks-add-subs
Name=Add Subtitle to MP4 Files
Name[de]=Untertitel zu MP4s hinzufügen
Name[es]=Agregar Subtitulo a Ficheros MP4
Name[fr]=Ajouter le Sous-titre à des Fichiers MP4
Name[it]=Aggiungi Sottotitoli ai File MP4
Name[ja]=MP4 ファイルに字幕を加えなさい
Name[ko]=MP4 파일에서 추가 원고 부제
Name[pt]=Acrescente Subtítulo a Arquivos de MP4
Name[ru]=Добавьте Подзаголовок к MP4 Файлы
Name[uk]=Додайте Подзаголовок MP4 Файли
Name[zh_CN]=给 MP4 文件添加字幕
Name[x-test]=xxAdd Subtitle to MP4 Filexx
