[Desktop Entry]
Actions=MultiplexSubtitle;
Icon=/usr/share/icons/hicolor/scalable/apps/ks-multiplexing-subs.svgz
MimeType=video/mpeg;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-StartupNotify=false
X-KDE-Submenu=KDE-Services
X-KDE-Submenu[x-test]=xxKDE-Servicesxx

[Desktop Action MultiplexSubtitle]
Exec=/usr/share/applications/Multiplex_Subtitle.sh %F
Icon=/usr/share/icons/hicolor/scalable/apps/ks-multiplexing-subs.svgz
Name=Multiplex Subtitle
Name[de]=Zu Mehrfachem Untertitel
Name[es]=Multiplexar Subtítulo
Name[fr]=Sous-titre Multiplex
Name[it]=Sottotitolo di Molteplice
Name[ja]=音声多重放送字幕
Name[ko]=다양한 부제
Name[pt]=Subtítulo Multíplice
Name[ru]=Мультиплексор субтитров
Name[uk]=Мультиплексор субтитрів
Name[zh_CN]=多样的副题
Name[x-test]=xxMultiplex Subtitlexx
