[Desktop Entry]
Actions=ConnectSentry;HTTP-Publisher;ListeningSockets;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-connect-to.png
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu[en_US]=Network Tools
X-KDE-Submenu=Network Tools
X-KDE-Submenu[es]=Internet - Herramientas
X-KDE-Submenu[x-test]=xxNetwork Toolsxx

[Desktop Action ConnectSentry]
Exec=/usr/share/applications/Network_Tools-connect-sentry.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-sentry-on.png
Name[en_US]=Connect Sentry
Name=Connect Sentry
Name[es]=Centinela de Conexiones
Name[x-test]=xxConnect Sentryxx

[Desktop Action HTTP-Publisher]
Exec=kdesu -d -c "/usr/share/applications/HTTP_Publisher.sh"
Icon=/usr/share/icons/hicolor/512x512/apps/ks-folder-public-web.png
Name[en_US]=HTTP Publisher
Name=HTTP Publisher
Name[es]=Publicador HTTP
Name[x-test]=xxHTTP Publisherxx

[Desktop Action ListeningSockets]
Exec=kdesu -d /usr/share/applications/Network_Tools-listening-sockets.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-socket.png
Name[en_US]=Listening Sockets
Name=Listening Sockets
Name[es]=Puertos Escuchando
Name[x-test]=xxListening Socketsxx
