[Desktop Entry]
Actions=ShowPkgChangelog;ShowPkgInfo;_SEPARATOR_;ListPkgContent;ListPkgDeps;_SEPARATOR_;ExtractPkgFiles;_SEPARATOR_;IntegrityCheckPkg;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png
MimeType=application/x-rpm;application/x-source-rpm;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Package Tools
X-KDE-Submenu[es]=Paquetes - Herramientas
X-KDE-Submenu[ru]=Инструменты Архивирования
X-KDE-Submenu[uk]=Інструменти Пакування
X-KDE-Submenu[x-test]=xxPackage Toolsxx

[Desktop Action ExtractPkgFiles]
Exec=cd $(dirname %u); mkdir $(basename -s .rpm %u); cd $(basename -s .rpm %u); DBUSREF=$(kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png --caption="Extract Files Here" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Extracting:  $(basename %u)"; rpm2cpio %u | cpio -id; qdbus $DBUSREF close; kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png --title="Extract Files Here" --passivepopup="[Finished]    $(basename %u)"
Icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png
Name=Extract Files Here
Name[es]=Extraer Ficheros Aquí
Name[ru]=Распаковать файлы сюда
Name[uk]=Видобути файли сюди
Name[x-test]=xxExtract Files Herexx

[Desktop Action IntegrityCheckPkg]
Exec=DBUSREF=$(kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png --caption="Integrity Check" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Checking:  $(basename %u)"; rpm2cpio %u > /dev/null; EXIT1=$?; rpm -Vp --nosignature --nofiles --nodeps %u 2> /tmp/integritychkpkg; EXIT2=$?; if [ "$EXIT1" = "0" ] && [ "$EXIT2" = "0" ]; then qdbus $DBUSREF close; kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png --title="Package Tools - Integrity Check" --passivepopup="[OK]   $(basename %u)"; elif [ "$EXIT1" != "0" ] || [ "$EXIT2" != "0" ]; then qdbus $DBUSREF close; kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-error.png --title="Package Tools - Integrity Check" --passivepopup="[ERROR]   $(basename %u)   $(cat /tmp/integritychkpkg)";fi; rm -f /tmp/integritychkpkg
Icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png
Name=Integrity Check
Name[es]=Comprobar Integridad
Name[ru]=Проверка целостности
Name[uk]=Перевірка цілісності
Name[x-test]=xxIntegrity Checkxx

[Desktop Action ListPkgContent]
Exec=rpm -qlp %u > /tmp/pkgcontent; kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png --caption="Package Tools - Content" --textbox /tmp/pkgcontent 800 300; rm -f /tmp/pkgcontent
Icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png
Name=List Content
Name[es]=Listar Contenido
Name[ru]=Список содержимого
Name[uk]=Перелік вмісту
Name[x-test]=xxList Contentxx

[Desktop Action ListPkgDeps]
Exec=rpm -qRp %u > /tmp/pkgdeps; kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png --caption="Package Tools - Dependencies" --textbox /tmp/pkgdeps 800 300; rm -f /tmp/pkgdeps
Icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png
Name=List Dependencies
Name[es]=Listar Dependencias
Name[ru]=Список зависимостей
Name[uk]=Перелік залежностей
Name[x-test]=xxList Dependenciesxx

[Desktop Action ShowPkgChangelog]
Exec=rpm -qp --changelog %u > /tmp/pkgchangelog; kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png --caption="Package Tools - Changelog" --textbox /tmp/pkgchangelog 800 300; rm -f /tmp/pkgchangelog
Icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png
Name=Show Changelog
Name[es]=Mostrar Registro de Cambios
Name[ru]=Показать Changelog
Name[uk]=Показати Changelog
Name[x-test]=xxShow Changelogxx

[Desktop Action ShowPkgInfo]
Exec=rpm -qip %u > /tmp/pkginfo; kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png --caption="Package Tools - Info" --textbox /tmp/pkginfo 800 300; rm -f /tmp/pkginfo
Icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png
Name=Show Info
Name[es]=Mostrar Información
Name[ru]=Показать информацию 
Name[uk]=Показати інформацію
Name[x-test]=xxShow Infoxx
