[Desktop Entry]
Actions=_SEPARATOR_;PDFownerPassword;PDFuserPassword;DRM-Encrypt;PDFunSecure;_SEPARATOR_;PDFfix;_SEPARATOR_;ExtractPages;ExtractAllPages;
Icon=ks-pdf
MimeType=application/pdf;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=PDF Tools
X-KDE-Submenu[de]=PDF - Werkzeuge
X-KDE-Submenu[es]=PDF - Herramientas
X-KDE-Submenu[fr]=Outils PDF
X-KDE-Submenu[it]=PDF - Strumenti
X-KDE-Submenu[ja]=PDF 道具
X-KDE-Submenu[ko]=PDF 도구
X-KDE-Submenu[pt]=PDF - Ferramentas
X-KDE-Submenu[ru]=Инструменты PDF
X-KDE-Submenu[uk]=Інструменти PDF
X-KDE-Submenu[zh_CN]=PDF 工具
X-KDE-Submenu[x-test]=xxPDF Toolsxx

[Desktop Action DRM-Encrypt]
Exec=which pdftk; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Apply DRM + Encrypt" --passivepopup="[Error] Please install pdftk command and try again."; exit 1; else OPASSWORD=$(kdialog --icon=ks-pdf --title="PDF Tools" --password="Enter PDF owner password (DRM)"); UPASSWORD=$(kdialog --icon=ks-pdf --title="PDF Tools" --password="Enter PDF user password (Encrypt). Warning: Can't be same to owner password"); DBUSREF=$(kdialog --icon=ks-pdf --title="PDF Tools" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Applying DRM-Encrypt:  $(basename %f)"; pdftk %f output "`echo %f | perl -pe 's/\\.[^.]+$//'`_DRM-Enc128b.pdf" owner_pw $OPASSWORD user_pw $UPASSWORD; qdbus $DBUSREF close; kdialog --icon=ks-pdf --title="PDF Tools - Apply DRM + Encrypt" --passivepopup="[Finished]";fi
Icon=ks-pdf
Name=Apply DRM + Encrypt
Name[de]=DRM + Kodierung anwenden
Name[es]=Aplicar DRM + Encriptación
Name[fr]=Appliquer DRM + Chiffrer
Name[it]=Applica DRM + Criptazione
Name[ja]=DRM Encrypt を適用しなさい
Name[ko]=DRM를 적용한다 암호화한다
Name[pt]=Aplique DRM + Codifique
Name[ru]=Задействовать DRM + Шифрование
Name[uk]=Задіяти DRM + Шифрування
Name[zh_CN]=DRM 及加密
Name[x-test]=xxApply DRM + Encryptxx

[Desktop Action ExtractAllPages]
Exec=which pdftk; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Extract All Pages" --passivepopup="[Error] Please install pdftk command and try again."; exit 1; else DBUSREF=$(kdialog --icon=ks-pdf --title="PDF Tools" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Extracting All Pages:  $(basename %f)"; pdftk %f burst output "`echo %f | perl -pe 's/\\.[^.]+$//'`_%05d.pdf"; qdbus $DBUSREF close; kdialog --icon=ks-pdf --title="PDF Tools - Extract all pages" --passivepopup="[Finished]";fi
Icon=ks-pdf
Name=Extract All Pages
Name[de]=Alle Seiten extrahieren
Name[es]=Extraer Todas las Páginas
Name[fr]=Extraire Toutes les Pages
Name[it]=Estrai Tutte le Pagine
Name[ja]=すべてのページを引き抜くために
Name[ko]=모든 페이지를 추출한다
Name[pt]=Extrair Todas as Páginas
Name[ru]=Извлечь все страницы
Name[uk]=Вилучити усі сторінки
Name[zh_CN]=提取全部页面
Name[x-test]=xxExtract All Pagesxx

[Desktop Action ExtractPages]
Exec=which pdftk; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Extract Select Pages" --passivepopup="[Error] Please install pdftk command and try again."; exit 1; else PAGES=$(kdialog --icon=ks-pdf --title="PDF Tools" --inputbox="Enter pages number for extract (single: 1 7 12 | range: 3-12 | multi-range: 1-3 6-8 10-end)"); DBUSREF=$(kdialog --icon=ks-pdf --title="PDF Tools" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Extracting Select Pages:  $(basename %f)"; pdftk %f cat $PAGES output "`echo %f | perl -pe 's/\\.[^.]+$//'`_extract-pages.pdf"; qdbus $DBUSREF close; kdialog --icon=ks-pdf --title="PDF Tools - Extract select pages" --passivepopup="[Finished]";fi
Icon=ks-pdf
Name=Extract Select Pages
Name[de]=Ausgewählte Seiten extrahieren
Name[es]=Extraer Páginas Seleccionadas
Name[fr]=Extraire les Pages Sélectionnées
Name[it]=Estrai Pagine Selezionate
Name[ja]=選択されたページを引き抜くために
Name[ko]=선택되었던 페이지를 추출한다
Name[pt]=Extrair Páginas Selecionadas
Name[ru]=Извлечь выбранные страницы
Name[uk]=Вилучити обрані сторінки
Name[zh_CN]=提取所选页面
Name[x-test]=xxExtract Select Pagesxx

[Desktop Action PDFfix]
Exec=which pdftk; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Fixer (if possible)" --passivepopup="[Error] Please install pdftk command and try again."; exit 1; else DBUSREF=$(kdialog --icon=ks-pdf --title="PDF Tools" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Fixing:  $(basename %f)"; pdftk %f output "`echo %f | perl -pe 's/\\.[^.]+$//'`_fixed.pdf"; qdbus $DBUSREF close; kdialog --icon=ks-pdf --title="PDF Tools - Fixer" --passivepopup="[Finished]";fi
Icon=ks-pdf
Name=Fixer (if possible)
Name[de]=Reparieren (falls möglich)
Name[es]=Reparar (si es posible)
Name[fr]=Réparer (si possible)
Name[it]=Ripara (se possibile)
Name[ja]=修理（もしそれが可能であるなら）に
Name[ko]=수리한다 (만일 그것이 가능하면)
Name[pt]=Consertar (se é possível)
Name[ru]=Исправить (если возможно)
Name[uk]=Виправити (якщо можливо)
Name[zh_CN]=修复文件 (如果可行)
Name[x-test]=xxFixer (if possible)xx

[Desktop Action PDFownerPassword]
Exec=which pdftk; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Apply Owner Password (DRM)" --passivepopup="[Error] Please install pdftk command and try again."; exit 1; else OPASSWORD=$(kdialog --icon=ks-pdf --title="PDF Tools" --password="Enter PDF owner password (DRM)"); DBUSREF=$(kdialog --icon=ks-pdf --title="PDF Tools" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Applying Owner Password (DRM):  $(basename %f)"; pdftk %f output "`echo %f | perl -pe 's/\\.[^.]+$//'`_DRM.pdf" owner_pw $OPASSWORD; qdbus $DBUSREF close; kdialog --icon=ks-pdf --title="PDF Tools - Apply Owner Password (DRM)" --passivepopup="[Finished]";fi
Icon=ks-pdf
Name=Apply Owner Password (DRM)
Name[de]=Besitzerpasswort anlegen (DRM)
Name[es]=Aplicar Contraseña de Propiedad (DRM)
Name[fr]=Appliquer un Mot de Passe "Auteur" (DRM)
Name[it]=Applica Password Proprietario (DRM)
Name[ja]=適用されるために、不動産（DRM）について副署しなさい
Name[ko]=자산 (DRM)의 군호를 적용한다
Name[pt]=Aplicar Contra-senha de Propriedade (DRM)
Name[ru]=Задействовать пароль владельца (DRM)
Name[uk]=Задіяти пароль власника (DRM)
Name[zh_CN]=添加拥有者密码 (DRM)
Name[x-test]=xxApply Owner Password (DRM)xx

[Desktop Action PDFunSecure]
Exec=which pdftk; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Decrypt (DRM)" --passivepopup="[Error] Please install pdftk command and try again."; exit 1; else DPASSWORD=$(kdialog --icon=ks-pdf --title="PDF Tools" --password="Enter PDF owner (DRM) password for decrypt"); DBUSREF=$(kdialog --icon=ks-pdf --title="PDF Tools" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Decrypting:  $(basename %f)"; pdftk %f input_pw $DPASSWORD output "`echo %f | perl -pe 's/\\.[^.]+$//'`_decrypted.pdf"; qdbus $DBUSREF close; kdialog --icon=ks-pdf --title="PDF Tools - Decrypt" --passivepopup="[Finished]";fi
Icon=ks-pdf
Name=Decrypt (DRM)
Name[de]=(DRM) entschlüsseln
Name[es]=Desencriptar (DRM)
Name[fr]=Décrypter (DRM)
Name[it]=Decripta (DRM)
Name[ja]=（DRM）を解読しなさいい
Name[ko]=해독해라 (DRM)
Name[pt]=Decifre (DRM)
Name[ru]=Расшифровать (DRM)
Name[uk]=Розшифрувати (DRM)
Name[zh_CN]=解密 (DRM)
Name[x-test]=xxDecrypt (DRM)xx

[Desktop Action PDFuserPassword]
Exec=which pdftk; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Apply User Password (Encrypt)" --passivepopup="[Error] Please install pdftk command and try again."; exit 1; else UPASSWORD=$(kdialog --icon=ks-pdf --title="PDF Tools" --password="Enter PDF user password (Encrypt)"); DBUSREF=$(kdialog --icon=ks-pdf --title="PDF Tools" --progressbar "\t\t\t\t\t\t\t" /ProgressDialog); qdbus $DBUSREF setLabelText "Applying User Password (Encrypt):  $(basename %f)"; pdftk %f output "`echo %f | perl -pe 's/\\.[^.]+$//'`_Enc128b.pdf" user_pw $UPASSWORD; qdbus $DBUSREF close; kdialog --icon=ks-pdf --title="PDF Tools - Apply User Password (Encrypt)" --passivepopup="[Finished]";fi
Icon=ks-pdf
Name=Apply User Password (Encrypt)
Name[de]=Benutzerpasswort anlegen (Verschlüsseln)
Name[es]=Aplicar Contraseña de Usuario (Encriptar)
Name[fr]=Ajouter un Mot de Passe Utilisateur (Crypter)
Name[it]=Applica Password Utente (Codifica)
Name[ja]=ユーザーパスワードを適用しなさい（暗号化しなさい）
Name[ko]=사용자 암호 (암호화한다)를 적용해라
Name[pt]=Aplique Contra-senha de Usuário (Codifique)
Name[ru]=Задействовать пароль пользователя (Зашифровать)
Name[uk]=Задіяти пароль користувача (Зашифрувати)
Name[zh_CN]=添加拥有者密码 (加密)
Name[x-test]=xxApply User Password (Encrypt)xx
