[Desktop Entry]
Actions=ExtractAllImages;_SEPARATOR_;PDFOptimizer;_SEPARATOR_;pdfcompress;_SEPARATOR_;pdfmetaview;pdfmetaedit;_SEPARATOR_;pdfmerge;pdfsplit;_SEPARATOR_;PDFinfo;
Icon=ks-pdf
MimeType=application/pdf;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=PDF Tools
X-KDE-Submenu[de]=PDF - Werkzeuge
X-KDE-Submenu[es]=PDF - Herramientas
X-KDE-Submenu[fr]=Outils PDF
X-KDE-Submenu[it]=PDF - Strumenti
X-KDE-Submenu[ja]=PDF 道具
X-KDE-Submenu[ko]=PDF 도구
X-KDE-Submenu[pt]=PDF - Ferramentas
X-KDE-Submenu[ru]=Инструменты PDF
X-KDE-Submenu[uk]=Інструменти PDF
X-KDE-Submenu[zh_CN]=PDF 工具
X-KDE-Submenu[x-test]=xxPDF Toolsxx

[Desktop Action ExtractAllImages]
Exec=which pdfimages; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Extract All Images" --passivepopup="[Error] Please install pdfimages command and try again."; exit 1; else COUNT="0"; COUNTFILES=$(echo %F|wc -w); COUNTFILES=$((++COUNTFILES)); DBUSREF=$(kdialog --icon=ks-pdf --title="PDF Tools" --progressbar "\t\t\t\t\t\t\t" $COUNTFILES); for file in %F;do COUNT=$((++COUNT)); qdbus $DBUSREF setLabelText "Extracting All Images:  ${file##*/}  [$COUNT/$((COUNTFILES-1))]"; qdbus $DBUSREF Set "" value $COUNT; cd ${file%/*}; pdfimages -p "$file" $(ls "$file"|awk -F . '{print $1}'); kdialog --icon=ks-pdf --title="PDF Tools - Extract all images" --passivepopup="[Finished]   ${file##*/}";done; qdbus $DBUSREF Set "" value $COUNTFILES; sleep 1; qdbus $DBUSREF close;fi
Icon=ks-pdf
Name=Extract All Images
Name[de]=Alle Bilder extrahieren
Name[es]=Extraer Todas las Imagenes
Name[fr]=Extraire Toutes les Images
Name[it]=Estrai Tutte le Immagini
Name[ja]=すべてのイメージを引き抜くために
Name[ko]=모든 이미지를 빼낸다
Name[pt]=Extrair Todas as Imagens
Name[ru]=Извлечь все изображения
Name[uk]=Вилучити усі зображення
Name[zh_CN]=提取全部图像
Name[x-test]=xxExtract All Imagesxx

[Desktop Action PDFOptimizer]
Exec=which pdftops; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Optimize" --passivepopup="[Error] Please install pdftops command and try again."; exit 1; else COUNT="0"; COUNTFILES=$(echo %F|wc -w); COUNTFILES=$((++COUNTFILES)); DBUSREF=$(kdialog --icon=ks-pdf --title="PDF Tools" --progressbar "\t\t\t\t\t\t\t" $COUNTFILES); for file in %F;do COUNT=$((++COUNT)); qdbus $DBUSREF setLabelText "Optimizing:  ${file##*/}  [$COUNT/$((COUNTFILES-1))]"; pdftops "$file" "$(echo ${file##*/}|sed "s/.${file##/*.}//")_opt.${file##/*.}"; kdialog --icon=ks-pdf --title="PDF Tools - Optimizer" --passivepopup="[Finished]   ${file##*/}";done; qdbus $DBUSREF Set "" value $COUNTFILES; sleep 1; qdbus $DBUSREF close;fi
Icon=ks-pdf
Name=Optimize
Name[de]=Optimierer
Name[es]=Optimizar
Name[fr]=Optimiser
Name[it]=Ottimizza
Name[ja]=最適化するために
Name[ko]=낙관한다
Name[pt]=Aperfeiçoar
Name[ru]=Оптимизатор
Name[uk]=Оптимізатор
Name[zh_CN]=优化
Name[x-test]=xxOptimizerxx

[Desktop Action PDFinfo]
Exec=which pdfinfo; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Information" --passivepopup="[Error] Please install pdfinfo command and try again."; exit 1; else pdfinfo %f > /tmp/pdfinfo; kdialog --icon=ks-pdf --title="PDF Tools - Info" --textbox /tmp/pdfinfo 350 350; rm -f /tmp/pdfinfo;fi
Icon=ks-pdf
Name=Information
Name[de]=Informationen
Name[es]=Información
Name[fr]=Information
Name[it]=Informazioni
Name[ja]=インフォメーション
Name[ko]=정보
Name[pt]=Informação
Name[ru]=Информация
Name[uk]=Інформація
Name[zh_CN]=信息
Name[x-test]=xxInformationxx

[Desktop Action pdfcompress]
Exec=which gs; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Compress" --passivepopup="[Error] Please install gs command and try again."; exit 1; else /usr/share/applications/PDFktools.sh -c %F;fi
Icon=ks-resize-image
Name=Compress
Name[de]=Komprimieren
Name[es]=Comprimir
Name[fr]=Compresser
Name[it]=Comprimi
Name[ja]=圧縮するために
Name[ko]=압축한다
Name[pt]=Comprimir
Name[ru]=Сжать
Name[uk]=Стиснути
Name[zh_CN]=压缩
Name[x-test]=xxCompressxx

[Desktop Action pdfmerge]
Exec=which gs; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Merge Selected Files" --passivepopup="[Error] Please install gs command and try again."; exit 1; else /usr/share/applications/PDFktools.sh -m %F;fi
Icon=ks-pdf
Name=Merge Selected Files
Name[de]=Ausgewählte Dateien zusammenführen
Name[es]=Unir los Archivos Seleccionados
Name[fr]=Unir les Fichiers Selectionner
Name[it]=Unisci i File Selezionati
Name[ja]=選択されたファイルを結び付けるために
Name[ko]=선택되었던 파일을 결합시킨다
Name[pt]=Unir os Arquivos Selecionados
Name[ru]=Объединить выбранные файлы
Name[uk]=З’єднати обрані файли
Name[zh_CN]=合并所选文件
Name[x-test]=xxMerge Selected Filesxx

[Desktop Action pdfmetaedit]
Exec=which exiftool; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Edit Metadata" --passivepopup="[Error] Please install exiftool command and try again."; exit 1; else /usr/share/applications/PDFktools.sh -me %F;fi
Icon=ks-text-plain
Name=Edit Metadata
Name[de]=Metadaten editieren
Name[es]=Editar Metadatos
Name[fr]=Éditer les Métadatas
Name[it]=Modifica Metadati
Name[ja]=メタデータを編集しなさい
Name[ko]=미터자료를 편집해라
Name[pt]=Publicar Metadatos
Name[ru]=Редактировать метаданные
Name[uk]=Редагувати метадані
Name[zh_CN]=修改元数据
Name[x-test]=xxEdit Metadataxx

[Desktop Action pdfmetaview]
Exec=which exiftool; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="View Metadata" --passivepopup="[Error] Please install exiftool command and try again."; exit 1; else /usr/share/applications/PDFktools.sh -mv %F;fi
Icon=ks-text-plain
Name=View Metadata
Name[de]=Metadaten anzeigen
Name[es]=Ver Metadatos
Name[fr]=Afficher les Métadatas
Name[it]=Vedi Metadati
Name[ja]=メタデータを見なさい
Name[ko]=보기 미터자료
Name[pt]=Veja Metadata
Name[ru]=Просмотреть метаданные
Name[uk]=Переглянути метадані
Name[zh_CN]=查看元数据
Name[x-test]=xxview Metadataxx

[Desktop Action pdfsplit]
Exec=which exiftool pdftops ps2pdf14 gs; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Split in Single Page per File" --passivepopup="[Error] Please install exiftool, pdftops, ps2pdf14 and gs command and try again."; exit 1; else /usr/share/applications/PDFktools.sh -s %F;fi
Icon=ks-pdf
Name=Split in Single Page per File
Name[de]=Seiten in jeweils eine Dateie umwandeln
Name[es]=Cortar en Archivos de Una Sola Página
Name[fr]=Éclater Un Fichier par Page
Name[it]=Dividi i File per Pagina
Name[ja]=一つのページのファイルのカットに
Name[ko]=하나의 페이지의 파일에 끼어든다
Name[pt]=Cortar em Arquivos de uma Única Página
Name[ru]=Разбить постранично
Name[uk]=Розбити посторінково
Name[zh_CN]=按页分割文件
Name[x-test]=xxSplit in Single Page per Filexx
