[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;
Icon=application-pdf
Actions=PDFownerPassword;PDFuserPassword;DRM-Encrypt;_SEPARATOR_;PDFunSecure;_SEPARATOR_;ExtractPages;ExtractAllPages;ExtractAllImages;_SEPARATOR_;PDFOptimizer;PDFfix;_SEPARATOR_;pdfcompress;_SEPARATOR_;pdfmetaview;pdfmetaedit;_SEPARATOR_;pdfmerge;pdfsplit;_SEPARATOR_;PDFinfo;
X-KDE-Submenu=PDF Tools
X-KDE-Submenu[en_US]=PDF Tools
X-KDE-Submenu[es]=PDF - Herramientas
X-KDE-Submenu[x-test]=xxPDF Toolsxx
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action PDFownerPassword]
Name=Apply Owner Password (DRM)
Name[en_US]=Apply Owner Password (DRM)
Name[es]=Aplicar Contraseña De Propiedad (DRM)
Name[x-test]=xxApply Owner Password (DRM)xx
Icon=application-pdf
Exec=OPASSWORD=$(kdialog --icon=application-pdf --caption="PDF Tools" --password="Enter PDF owner password (DRM)"); DBUSREF=$(kdialog --icon=application-pdf --caption="PDF Tools" --progressbar "							" /ProgressDialog); qdbus $DBUSREF setLabelText "Applying Owner Password (DRM):  $(basename %u)"; pdftk %u output "`echo %u | perl -pe 's/\\.[^.]+$//'`_DRM.pdf" owner_pw $OPASSWORD; qdbus $DBUSREF close; kdialog --icon=application-pdf --title="PDF Tools - Apply Owner Password (DRM)" --passivepopup="[Finished]"

[Desktop Action PDFuserPassword]
Name=Apply User Password (Encrypt)
Name[en_US]=Apply User Password (Encrypt)
Name[es]=Aplicar Contraseña De Usuario (Encriptar)
Name[x-test]=xxApply User Password (Encrypt)xx
Icon=application-pdf
Exec=UPASSWORD=$(kdialog --icon=application-pdf --caption="PDF Tools" --password="Enter PDF user password (Encrypt)"); DBUSREF=$(kdialog --icon=application-pdf --caption="PDF Tools" --progressbar "							" /ProgressDialog); qdbus $DBUSREF setLabelText "Applying User Password (Encrypt):  $(basename %u)"; pdftk %u output "`echo %u | perl -pe 's/\\.[^.]+$//'`_Enc128b.pdf" user_pw $UPASSWORD; qdbus $DBUSREF close; kdialog --icon=application-pdf --title="PDF Tools - Apply User Password (Encrypt)" --passivepopup="[Finished]"

[Desktop Action DRM-Encrypt]
Name=Apply DRM + Encrypt
Name[en_US]=Apply DRM + Encrypt
Name[es]=Aplicar DRM + Encriptación
Name[x-test]=xxApply DRM + Encryptxx
Icon=application-pdf
Exec=OPASSWORD=$(kdialog --icon=application-pdf --caption="PDF Tools" --password="Enter PDF owner password (DRM)"); UPASSWORD=$(kdialog --icon=application-pdf --caption="PDF Tools" --password="Enter PDF user password (Encrypt). Warning: Can't be same to owner password"); DBUSREF=$(kdialog --icon=application-pdf --caption="PDF Tools" --progressbar "							" /ProgressDialog); qdbus $DBUSREF setLabelText "Applying DRM-Encrypt:  $(basename %u)"; pdftk %u output "`echo %u | perl -pe 's/\\.[^.]+$//'`_DRM-Enc128b.pdf" owner_pw $OPASSWORD user_pw $UPASSWORD; qdbus $DBUSREF close; kdialog --icon=application-pdf --title="PDF Tools - Apply DRM + Encrypt" --passivepopup="[Finished]"

[Desktop Action PDFunSecure]
Name=Decrypt (DRM)
Name[en_US]=Decrypt (DRM)
Name[es]=Desencriptar (DRM)
Name[x-test]=xxDecrypt (DRM)xx
Icon=application-pdf
Exec=DPASSWORD=$(kdialog --icon=application-pdf --caption="PDF Tools" --password="Enter PDF owner (DRM) password for decrypt"); DBUSREF=$(kdialog --icon=application-pdf --caption="PDF Tools" --progressbar "							" /ProgressDialog); qdbus $DBUSREF setLabelText "Decrypting:  $(basename %u)"; pdftk %u input_pw $DPASSWORD output "`echo %u | perl -pe 's/\\.[^.]+$//'`_decrypted.pdf"; qdbus $DBUSREF close; kdialog --icon=application-pdf --title="PDF Tools - Decrypt" --passivepopup="[Finished]"

[Desktop Action ExtractPages]
Name=Extract Select Pages
Name[en_US]=Extract Select Pages
Name[es]=Extraer Páginas Seleccionadas
Name[x-test]=xxExtract Select Pagesxx
Icon=application-pdf
Exec=PAGES=$(kdialog --icon=application-pdf --caption="PDF Tools" --inputbox="Enter pages number for extract (single: 1 7 12 | range: 3-12 | multi-range: 1-3 6-8 10-end)"); DBUSREF=$(kdialog --icon=application-pdf --caption="PDF Tools" --progressbar "							" /ProgressDialog); qdbus $DBUSREF setLabelText "Extracting Select Pages:  $(basename %u)"; pdftk %u cat $PAGES output "`echo %u | perl -pe 's/\\.[^.]+$//'`_extract-pages.pdf"; qdbus $DBUSREF close; kdialog --icon=application-pdf --title="PDF Tools - Extract select pages" --passivepopup="[Finished]"

[Desktop Action ExtractAllPages]
Name=Extract All Pages
Name[en_US]=Extract All Pages
Name[es]=Extraer Todas Las Páginas
Name[x-test]=xxExtract All Pagesxx
Icon=application-pdf
Exec=DBUSREF=$(kdialog --icon=application-pdf --caption="PDF Tools" --progressbar "							" /ProgressDialog); qdbus $DBUSREF setLabelText "Extracting All Pages:  $(basename %u)"; pdftk %u burst output "`echo %u | perl -pe 's/\\.[^.]+$//'`_%05d.pdf"; qdbus $DBUSREF close; kdialog --icon=application-pdf --title="PDF Tools - Extract all pages" --passivepopup="[Finished]"

[Desktop Action ExtractAllImages]
Name=Extract All Images
Name[en_US]=Extract All Images
Name[es]=Extraer Todas Las Imagenes
Name[x-test]=xxExtract All Imagesxx
Icon=application-pdf
Exec=DBUSREF=$(kdialog --icon=application-pdf --caption="PDF Tools" --progressbar "							" /ProgressDialog); qdbus $DBUSREF setLabelText "Extracting All Images:  $(basename %u)"; pdfimages -p %u `ls %u|awk -F . '{print $1}'`; qdbus $DBUSREF close; kdialog --icon=application-pdf --title="PDF Tools - Extract all images" --passivepopup="[Finished]"

[Desktop Action PDFOptimizer]
Name=Optimizer
Name[en_US]=Optimizer
Name[es]=Optimizador
Name[x-test]=xxOptimizerxx
Icon=application-pdf
Exec=DBUSREF=$(kdialog --icon=application-pdf --caption="PDF Tools" --progressbar "							" /ProgressDialog); qdbus $DBUSREF setLabelText "Optimizing:  $(basename %u)"; pdfopt %u "`echo %u | perl -pe 's/\\.[^.]+$//'`_opt.pdf"; qdbus $DBUSREF close; kdialog --icon=application-pdf --title="PDF Tools - Optimizer" --passivepopup="[Finished]"

[Desktop Action PDFfix]
Name=Fixer (if possible)
Name[en_US]=Fixer (if possible)
Name[es]=Reparar (si es posible)
Name[x-test]=xxFixer (if possible)xx
Icon=application-pdf
Exec=DBUSREF=$(kdialog --icon=application-pdf --caption="PDF Tools" --progressbar "							" /ProgressDialog); qdbus $DBUSREF setLabelText "Fixing:  $(basename %u)"; pdftk %u output "`echo %u | perl -pe 's/\\.[^.]+$//'`_fixed.pdf"; qdbus $DBUSREF close; kdialog --icon=application-pdf --title="PDF Tools - Fixer" --passivepopup="[Finished]"

[Desktop Action PDFinfo]
Name=Info
Name[en_US]=Info
Name[es]=Información
Name[x-test]=xxInfoxx
Icon=application-pdf
Exec=pdfinfo %u > /tmp/pdfinfo; kdialog --icon=application-pdf --caption="PDF Tools - Info" --textbox /tmp/pdfinfo 350 350; rm -f /tmp/pdfinfo

[Desktop Action pdfcompress]
Exec=/usr/share/applications/PDFktools.sh -c %F
Icon=application-x-compress
Name=Compress
Name[de]=Komprimieren
Name[el]=Συμπίεση
Name[es]=Comprimir
Name[fr]=Compresser
Name[hu]=Tömörítés
Name[nl]=Comprimeren

[Desktop Action pdfmerge]
Exec=/usr/share/applications/PDFktools.sh -m %F
Icon=application-pdf
Name=Merge selected files
Name[de]=Ausgewählte Dateien zusammenführen
Name[el]=Συγχώνευση των επιλεγμένων αρχείων
Name[es]=Unir los archivos seleccionados
Name[fr]=Assembler les fichiers sélectionnés
Name[hu]=Kijelölt fájlok egyesítése
Name[nl]=Samenvoegen van gekozen bestanden

[Desktop Action pdfmetaedit]
Exec=/usr/share/applications/PDFktools.sh -me %F
Icon=text-xml
Name=Edit metadata
Name[de]=Metadaten bearbeiten
Name[el]=Επεξεργασία των μεταδεδομένων
Name[es]=Editar metadatos
Name[fr]=Modifier les méta-données
Name[hu]=Metaadat szerkesztése
Name[nl]=Metadata bewerken

[Desktop Action pdfmetaview]
Exec=/usr/share/applications/PDFktools.sh -mv %F
Icon=text-x-log
Name=View metadata
Name[de]=Metadaten ansehen
Name[el]=Προβολή των μεταδεδομένων
Name[es]=Ver metadatos
Name[fr]=Afficher les méta-données
Name[hu]=Metaadat megtekintése
Name[nl]=Metadata tonen

[Desktop Action pdfsplit]
Exec=/usr/share/applications/PDFktools.sh -s %F
Icon=application-pdf
Name=Split in single page per file
Name[de]=In einzelne Datei pro Seite auftrennen
Name[el]=Διαχωρισμός σε ένα αρχείο ανά σελίδα
Name[es]=Cortar en archivos de una sola página
Name[fr]=Découper en fichiers d'une seule page
Name[hu]=Szétválasztás egyoldalas fájlokba
Name[nl]=Elke pagina een apart bestand
