[Desktop Entry]
Actions=SaMBa-Tools;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-smbfs.png
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=SaMBa Tools
X-KDE-Submenu[es]=SaMBa - Herramientas
X-KDE-Submenu[ru]=Инструменты SaMBa
X-KDE-Submenu[uk]=Інструменти SaMBa
X-KDE-Submenu[x-test]=xxSaMBa Toolsxx

[Desktop Action SaMBa-Tools]
Exec=/usr/share/applications/SaMBa_Tools-mount-umount-share.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-smbfs.png
Name=Samba Shares Mounter
Name[es]=Montador de Compartidos Samba
Name[ru]=Монтировать сетевые ресурсы Samba
Name[uk]=Монтувати мережеві ресурси Samba
Name[x-test]=xxSamba Shares Mounterxx
