[Desktop Entry]
Actions=SaMBa-Tools;
Icon=ks-smbfs
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=SaMBa Tools
X-KDE-Submenu[de]=SaMBa Werkzeuge
X-KDE-Submenu[es]=SaMBa - Herramientas
X-KDE-Submenu[fr]=Outils SaMBa
X-KDE-Submenu[it]=SaMBa - Strumenti
X-KDE-Submenu[ja]=SaMBa 道具
X-KDE-Submenu[ko]=SaMBa 도구
X-KDE-Submenu[pt]=SaMBa - Ferramentas
X-KDE-Submenu[ru]=Инструменты SaMBa
X-KDE-Submenu[uk]=Інструменти SaMBa
X-KDE-Submenu[zh_CN]=SaMBa 工具
X-KDE-Submenu[x-test]=xxSaMBa Toolsxx

[Desktop Action SaMBa-Tools]
Exec=which smbclient; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="SaMBa Shares Mounter" --passivepopup="[Error] Please install smbclient command and try again."; exit 1; else /usr/share/applications/SaMBa_Tools-mount-umount-share.sh %F;fi
Icon=ks-smbfs
Name=SaMBa Shares Mounter
Name[de]=Gemeinsame SaMBa-Orte einbinden
Name[es]=Montador de Compartidos SaMBa
Name[fr]=Monteur de Dossiers Partagés SaMBa
Name[it]=Monta Condivisioni di SaMBa
Name[ja]=分け合ったことについてのリンカー SaMBa
Name[ko]=분담했던 SaMBa 링커
Name[pt]=Conector de ter Compartilhado SaMBa
Name[ru]=Монтировать сетевые ресурсы SaMBa
Name[uk]=Монтувати мережеві ресурси SaMBa
Name[zh_CN]=SaMBa 分享挂载
Name[x-test]=xxSaMBa Shares Mounterxx
