[Desktop Entry]
Actions=SearchHere;SearchByName;SearchByString;_SEPARATOR_;StatisticsSearchDB;UpdateSearchDB;_SEPARATOR_;ModifiedFilesHere
Icon=ks-search-string
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=Search Tools
X-KDE-Submenu[de]=Suchwerkzeuge
X-KDE-Submenu[es]=Búsqueda - Herramientas
X-KDE-Submenu[fr]=Outils Recherche
X-KDE-Submenu[it]=Ricerca - Strumenti
X-KDE-Submenu[ja]=サーチ道具
X-KDE-Submenu[ko]=검색 도구
X-KDE-Submenu[pt]=Procura - Ferramentas
X-KDE-Submenu[ru]=Инструменты поиска
X-KDE-Submenu[uk]=Інструменти пошуку
X-KDE-Submenu[zh_CN]=搜索工具
X-KDE-Submenu[x-test]=xxSearch Toolsxx

[Desktop Action SearchByName]
Exec=which locate; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Search by Name" --passivepopup="[Error] Please install locate command and try again."; exit 1; else /usr/share/applications/Search_Tools-search-by-name.sh %F;fi
Icon=ks-search-name
Name=Search by Name
Name[de]=Suche nach Namen
Name[es]=Búsqueda por Nombre
Name[fr]=Recherche par Nom
Name[it]=Ricerca per Nome
Name[ja]=名士を捜してください
Name[ko]=이름의 검색
Name[pt]=Procure Nome
Name[ru]=Поиск по имени
Name[uk]=Пошук за ім’ям
Name[zh_CN]=使用文件名搜索
Name[x-test]=xxSearch by Namexx

[Desktop Action SearchByString]
Exec=kdesu -i ks-search-string -d /usr/share/applications/Search_Tools-search-by-string.sh %F
Icon=ks-search-string
Name=Search by String
Name[de]=Suche nach Ausdruck
Name[es]=Búsqueda por Palabra
Name[fr]=Recherche dans le Contenu
Name[it]=Ricerca per Parola
Name[ja]=ストリングによって検索しなさい
Name[ko]=단어의 검색
Name[pt]=Procure Palavra
Name[ru]=Поиск по содержимому
Name[uk]=Пошук за вмістом
Name[zh_CN]=使用字符串搜索
Name[x-test]=xxSearch by Stringxx

[Desktop Action StatisticsSearchDB]
Exec=which locate; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Statistics Search DataBase" --passivepopup="[Error] Please install locate command and try again."; exit 1; else /usr/share/applications/Search_Tools-statistics-search-db.sh %F;fi
Icon=ks-search-stats
Name=Statistics Search DataBase
Name[de]=Statistik der Suchdatenbank
Name[es]=Estadisticas de Base de Datos de Búsqueda
Name[fr]=Statistiques de la Base de Données de Recherche
Name[it]=Statistiche del Database di Ricerca
Name[ja]=サーチデータベースについて統計上です
Name[ko]=검색 데이터 베이스의 안에서 통계이다
Name[pt]=Estatístico de Banco de Dados de Procura
Name[ru]=Статистика поисковой База данных
Name[uk]=Статистика пошукової База даних
Name[zh_CN]=统计搜索数据库
Name[x-test]=xxStatistics Search DataBasexx

[Desktop Action UpdateSearchDB]
Exec=which updatedb pidof; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Update Search DataBase" --passivepopup="[Error] Please install updatedb and pidof command and try again."; exit 1; else /usr/share/applications/Search_Tools-update-search-db.sh %F;fi
Icon=ks-search-database-update
Name=Update Search DataBase
Name[de]=Suchdatenbank erneuern
Name[es]=Actualizar Base de Datos de Búsqueda
Name[fr]=Actualiser la Base de Données de Recherche
Name[it]=Aggiorna Database di Ricerca
Name[ja]=アップグレードサーチデータベースに
Name[ko]=검색 데이터 베이스를 개량한다
Name[pt]=Atualizar Banco de Dados de Procura
Name[ru]=Обновить поисковую База данных
Name[uk]=Оновити пошукову База даних
Name[zh_CN]=刷新搜索数据库
Name[x-test]=xxUpdate Search DataBasexx

[Desktop Action SearchHere]
Exec=kdesu -i ks-search-name -d /usr/share/applications/Search_Tools-search-here.sh %F
Icon=ks-search-name
Name=Search Here
Name[de]=Hier suchen
Name[es]=Buscar Aquí
Name[fr]=Chercher Ici
Name[it]=Cerca Qui
Name[ja]=ここでに見えるために
Name[ko]=여기를 찾는다
Name[pt]=Procurar Aqui
Name[ru]=Искать здесь
Name[uk]=Шукати тут
Name[zh_CN]=在此搜索
Name[x-test]=xxSearch Herexx

[Desktop Action ModifiedFilesHere]
Exec=kdesu -i ks-search-name -d /usr/share/applications/Search_Tools-modified-files-here.sh %F
Icon=ks-search-name
Name=Modified Files Here
Name[de]=Modifizierte Dateien Hier
Name[es]=Archivos Modificados Aquí
Name[fr]=Fichiers Modifiés Ici
Name[it]=File Modificati Qui
Name[ja]=ファイルがここで修正される
Name[ko]=여기에서 수정되는 파일
Name[pt]=Arquivos Modificaram Aqui
Name[ru]=Изменённые файлы в этой папке
Name[uk]=Файли що були змінені в цій теці
Name[zh_CN]=在此修改的文件
Name[x-test]=xxModified Files Herexx
