[Desktop Entry]
Actions=SearchHere;SearchByName;SearchByString;_SEPARATOR_;StatisticsSearchDB;UpdateSearchDB;_SEPARATOR_;ModifiedFilesHere
Icon=/usr/share/icons/hicolor/512x512/apps/ks-search-string.png
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=Search Tools
X-KDE-Submenu[es]=Búsqueda - Herramientas
X-KDE-Submenu[ru]=Инструменты поиска
X-KDE-Submenu[uk]=Інструменти пошуку
X-KDE-Submenu[x-test]=xxSearch Toolsxx

[Desktop Action SearchByName]
Exec=/usr/share/applications/Search_Tools-search-by-name.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-search-name.png
Name=Search By Name
Name[es]=Búsqueda Por Nombre
Name[ru]=Поиск по имени
Name[uk]=Пошук за ім’ям
Name[x-test]=xxSearch By Namexx

[Desktop Action SearchByString]
Exec=kdesu --caption="Search By String" -d /usr/share/applications/Search_Tools-search-by-string.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-search-string.png
Name=Search By String
Name[es]=Búsqueda Por Palabra
Name[ru]=Поиск по содержимому
Name[uk]=Пошук за вмістом
Name[x-test]=xxSearch By Stringxx

[Desktop Action StatisticsSearchDB]
Exec=/usr/share/applications/Search_Tools-statistics-search-db.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-search-stats.png
Name=Statistics Search DB
Name[es]=Estadisticas BD de Búsqueda
Name[ru]=Статистика поисковой БД
Name[uk]=Статистика пошукової БД
Name[x-test]=xxStatistics Search DBxx

[Desktop Action UpdateSearchDB]
Exec=/usr/share/applications/Search_Tools-update-search-db.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-search-database-update.png
Name=Update Search DB
Name[es]=Actualizar BD de Búsqueda
Name[ru]=Обновить поисковую БД
Name[uk]=Оновити пошукову БД
Name[x-test]=xxUpdate Search DBxx

[Desktop Action SearchHere]
Exec=kdesu --caption="Search Here" -d /usr/share/applications/Search_Tools-search-here.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-search-name.png
Name=Search Here
Name[es]=Búscar Aquí
Name[ru]=Искать здесь
Name[uk]=Шукати тут
Name[x-test]=xxSearch Herexx

[Desktop Action ModifiedFilesHere]
Exec=kdesu --caption="Modified Files Here" -d /usr/share/applications/Search_Tools-modified-files-here.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-search-name.png
Name=Modified Files Here
Name[es]=Archivos Modificados Aquí
Name[ru]=Изменённые файлы в этой папке
Name[uk]=Файли що були змінені в цій теці
Name[x-test]=xxModified Files Herexx
