[Desktop Entry]
Actions=MountEncryptedDir;UnmountEncryptedDir;_SEPARATOR_;EncryptDir;
Icon=ks-encrypt
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=Security Tools
X-KDE-Submenu[de]=Sicherheitswerkzeuge
X-KDE-Submenu[es]=Seguridad - Herramientas
X-KDE-Submenu[fr]=Outils Sécurité
X-KDE-Submenu[it]=Sicurezza - Strumenti
X-KDE-Submenu[ja]=保全 道具
X-KDE-Submenu[ko]=안전 도구
X-KDE-Submenu[pt]=Segurança - Ferramentas
X-KDE-Submenu[ru]=Инструменты безопасности
X-KDE-Submenu[uk]=Інструменти безпеки
X-KDE-Submenu[zh_CN]=安全工具
X-KDE-Submenu[x-test]=xxSecurity Toolsxx

[Desktop Action MountEncryptedDir]
Exec=which encfs; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Mount Encrypted Directory" --passivepopup="[Error] Please install encfs command and try again."; exit 1; else MOUNTPOINT=$(kdialog --icon=ks-folder-encrypt-mount --title="[Select|Create] directory for mount point" --getexistingdirectory "$PWD"); if [ "$?" != "0" ];then exit 1; else encfs -i 2 --extpass=/usr/libexec/openssh/ssh-askpass %F $MOUNTPOINT > /tmp/encfs.err 2>&1; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Mount Encrypted Directory" --passivepopup="$(cat /tmp/encfs.err). Try again."; rm -f /tmp/encfs.err; exit 1; else kdialog --icon=ks-folder-encrypt-mount --title="Mount Encrypted Directory" --passivepopup="[Finished] The directory has been mounted.";fi;fi;fi
Icon=ks-folder-encrypt-mount
Name=Mount Encrypted Directory
Name[de]=Verschlüsseltes Verzeichnis einbinden
Name[es]=Montar Directorio Encriptado
Name[fr]=Monter le Dossier Crypté
Name[it]=Monta Cartella Criptata
Name[ja]=マウントによって暗号化されたディレクトリ
Name[ko]=오르기는 디렉토리를 암호화했다
Name[pt]=Montar diretório codificado
Name[ru]=Смонтируйте Encrypted Указатель
Name[uk]=Підніміться Encrypted Довідник
Name[zh_CN]=挂载加密目录
Name[x-test]=xxMount Encrypted Directoryxx

[Desktop Action UnmountEncryptedDir]
Exec=which fusermount; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Unmount Encrypted Directory" --passivepopup="[Error] Please install fusermount command and try again."; exit 1; else fusermount -u %F > /tmp/fusermount.err 2>&1; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Unmount Encrypted Directory" --passivepopup="[Error] $(cat /tmp/fusermount.err)."; rm -f /tmp/fusermount.err; exit 1; else kdialog --icon=ks-folder-encrypt-unmount --title="Unmount Encrypted Directory" --passivepopup="[Finished] The directory has been unmounted.";fi;fi
Icon=ks-folder-encrypt-unmount
Name=Unmount Encrypted Directory
Name[de]=Verschlüsseltes Verzeichnis auswerfen
Name[es]=Desmontar Directorio Encriptado
Name[fr]=Démonter le Dossier Crypté
Name[it]=Smonta Cartella Criptata
Name[ja]=暗号化されたディレクトリをアンマウントしなさい
Name[ko]=언마운트는 디렉토리를 암호화했다
Name[pt]=Desmontar diretório codificado
Name[ru]=Unmount Encrypted Указатель
Name[uk]=Unmount Encrypted Довідник
Name[zh_CN]=卸载加密目录
Name[x-test]=xxxUnmount Encrypted Directoryxx

[Desktop Action EncryptDir]
Exec=which encfs; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Encrypt Directory" --passivepopup="[Error] Please install encfs command and try again."; exit 1; else mkdir %F_encfs && encfs --standard --extpass=/usr/libexec/openssh/ssh-askpass %F %F_encfs; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Encrypt Directory" --passivepopup="[Error] The command encfs closed unexpectedly."; exit 1; else DBUSREF=$(kdialog --icon=ks-folder-encrypt --title="Encrypt Directory" --progressbar " " /ProgressDialog); qdbus $DBUSREF setLabelText "Encrypting %F..."; mv %F/* %F_encfs && fusermount -u %F_encfs && rm -fr %F_encfs && mv %F %F_encfs; qdbus $DBUSREF close; echo "Finish Encrypt Directory" > /tmp/speak; text2wave -F 48000 -o /tmp/speak.wav /tmp/speak; play /tmp/speak.wav; rm -fr /tmp/speak*; kdialog --icon=ks-folder-encrypt --title="Encrypt Directory" --passivepopup="[Finished] The directory has been encrypted.";fi;fi
Icon=ks-folder-encrypt
Name=Encrypt Directory
Name[de]=Verzeichnis verschlüsseln
Name[es]=Encriptar Directorio
Name[fr]=Crypter le Dossier
Name[it]=Cartella Criptata
Name[ja]=ディレクトリを暗号化しなさい
Name[ko]=디렉토리를 암호화해라
Name[pt]=Codificar diretório
Name[ru]=Encrypt Указатель
Name[uk]=Encrypt Довідник
Name[zh_CN]=加密目录
Name[x-test]=xxEncrypt Directoryxx
