[Desktop Entry]
Actions=SendByEmail;
Icon=/usr/share/icons/hicolor/scalable/apps/ks-secure-mail.svgz
MimeType=all/allfiles;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-StartupNotify=false
X-KDE-Submenu=KDE-Services
X-KDE-Submenu[x-test]=xxKDE-Servicesxx

[Desktop Action SendByEmail]
Exec=xdg-email --utf8 $(for file in %F;do echo "--attach $file";done)
Icon=/usr/share/icons/hicolor/scalable/apps/ks-secure-mail.svgz
Name=Send by Email
Name[de]=Schicken Sie Durch E-mail
Name[es]=Enviar por Correo Electrónico
Name[fr]=Envoyez par Email
Name[it]=Spedisca da E-mail
Name[ja]=電子メールで送信しなさい
Name[ko]=전자 메일에 의해 보내라
Name[pt]=Envie através de E-mail
Name[ru]=Пошлите на Электронную почту
Name[uk]=Пошліть Email
Name[zh_CN]=由电子邮件送
Name[x-test]=xxSend by Emailxx
