[Desktop Entry]
Actions=SSH-keygen;SSH-copy-id;SSH;SCP;SSHfs;ViewMachine;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-sshfs.png
MimeType=all/allfiles;
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=SSH Tools
X-KDE-Submenu[es]=SSH - Herramientas
X-KDE-Submenu[ru]=Инструменты SSH
X-KDE-Submenu[uk]=Інструменти SSH
X-KDE-Submenu[x-test]=xxSSH Toolsxx

[Desktop Action SCP]
Exec=xterm -T "Send To Remote Server" -bg black -fg white -e /usr/share/applications/SSH_Tools-scp.sh %f
Icon=/usr/share/icons/hicolor/512x512/apps/ks-terminal.png
Name=Send To Remote Server
Name[es]=Enviar a Servidor Remoto
Name[ru]=Отправить на удалённый сервер
Name[uk]=Надіслати до віддаленого серверу
Name[x-test]=xxSend To Remote Serverxx

[Desktop Action SSH]
Exec=/usr/share/applications/SSH_Tools-connect.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-connect-to.png
Name=Connect To Remote Server
Name[es]=Conectar a Servidor Remoto
Name[ru]=Подключиться к удалённому серверу
Name[uk]=Підключитися до віддаленого серверу
Name[x-test]=xxConnect To Remote Serverxx

[Desktop Action SSH-copy-id]
Exec=/usr/share/applications/SSH_Tools-copy-id.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-key.png
Name=Install Public Key
Name[es]=Instalar Llave Publica
Name[ru]=Установить открытый ключ
Name[uk]=Встановити відкритий ключ
Name[x-test]=xxInstall Public Keyxx

[Desktop Action SSH-keygen]
Exec=/usr/share/applications/SSH_Tools-ssh-keygen.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-keygen.png
Name=Public Key Generation
Name[es]=Generar Llave Publica
Name[ru]=Генерировать открытый ключ
Name[uk]=Генерувати відкритий ключ
Name[x-test]=xxPublic Key Generationxx

[Desktop Action SSHfs]
Exec=/usr/share/applications/SSH_Tools-sshfs.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-sshfs.png
Name=Mountpoint To Remote Directory
Name[es]=Montar Directorio Remoto
Name[ru]=Смонтировать удалённую папку
Name[uk]=Змонтувати віддалену теку
Name[x-test]=xxMountpoint To Remote Directoryxx

[Desktop Action ViewMachine]
Exec=/usr/share/applications/SSH_Tools-register-machine.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-server.png
Name=Registered Servers
Name[es]=Servidores Registrados
Name[ru]=Зарегестрированные серверы
Name[uk]=Зареєстровані сервери
Name[x-test]=xxRegistered Serversxx
