[Desktop Entry]
Actions=SSH-keygen;SSH-copy-id;SSH;SCP;SSHfs;ViewMachine;
Icon=ks-sshfs
MimeType=all/allfiles;
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=SSH Tools
X-KDE-Submenu[de]=SSH Werkzeuge
X-KDE-Submenu[es]=SSH - Herramientas
X-KDE-Submenu[fr]=Outils SSH
X-KDE-Submenu[it]=SSH - Strumenti
X-KDE-Submenu[ja]=SSH 道具
X-KDE-Submenu[ko]=SSH 도구
X-KDE-Submenu[pt]=SSH - Ferramentas
X-KDE-Submenu[ru]=Инструменты SSH
X-KDE-Submenu[uk]=Інструменти SSH
X-KDE-Submenu[zh_CN]=SSH 工具
X-KDE-Submenu[x-test]=xxSSH Toolsxx

[Desktop Action SCP]
Exec=xterm -T "Send to Remote Server" -bg black -fg white -e /usr/share/applications/SSH_Tools-scp.sh %f
Icon=ks-terminal
Name=Send to Remote Server
Name[de]=Zu Remote Server senden
Name[es]=Enviar a Servidor Remoto
Name[fr]=Envoyer à un Serveur Distant
Name[it]=Invia a Server Remoto
Name[ja]=遠い給仕人に注文しなさい
Name[ko]=리모트한 서버에 보내라
Name[pt]=Envie a Servidor Remoto
Name[ru]=Отправить на удалённый сервер
Name[uk]=Надіслати до віддаленого серверу
Name[zh_CN]=发送至远程服务器
Name[x-test]=xxSend to Remote Serverxx

[Desktop Action SSH]
Exec=/usr/share/applications/SSH_Tools-connect.sh %F
Icon=ks-connect-to
Name=Connect to Remote Server
Name[de]=Mit Remote Server verbinden
Name[es]=Conectar a Servidor Remoto
Name[fr]=Se Connecter à un Serveur Distant
Name[it]=Collega a Server Remoto
Name[ja]=遠い使用人をつなぐために
Name[ko]=먼 하인을 접속한다
Name[pt]=Conectar o Servidor Remoto
Name[ru]=Подключиться к удалённому серверу
Name[uk]=Підключитися до віддаленого серверу
Name[zh_CN]=连接远程服务器
Name[x-test]=xxConnect to Remote Serverxx

[Desktop Action SSH-copy-id]
Exec=/usr/share/applications/SSH_Tools-copy-id.sh %F
Icon=ks-key
Name=Install Public Key
Name[de]=Öffentlichen Schlüssel installieren
Name[es]=Instalar Llave Publica
Name[fr]=Installer la Clé Publique
Name[it]=Installa Chiave Pubblica
Name[ja]=キーをインストールすることは出版します
Name[ko]=Key Publishes 를 인스톨한다
Name[pt]=Instalar Chave Publica
Name[ru]=Установить открытый ключ
Name[uk]=Встановити відкритий ключ
Name[zh_CN]=安装公钥
Name[x-test]=xxInstall Public Keyxx

[Desktop Action SSH-keygen]
Exec=/usr/share/applications/SSH_Tools-ssh-keygen.sh %F
Icon=ks-keygen
Name=Public Key Generation
Name[de]=Öffentlichen Schlüssel erstellen
Name[es]=Generar Llave Publica
Name[fr]=Générer une Clé Publique
Name[it]=Genera Chiave Pubblica
Name[ja]=キーを生成することは出版します
Name[ko]=Key Publishes 를 생성한다
Name[pt]=Gerar Chave Publica
Name[ru]=Генерировать открытый ключ
Name[uk]=Генерувати відкритий ключ
Name[zh_CN]=公钥生成
Name[x-test]=xxPublic Key Generationxx

[Desktop Action SSHfs]
Exec=which sshfs; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Mount point to Remote Directory" --passivepopup="[Error] Please install sshfs command and try again."; exit 1; else /usr/share/applications/SSH_Tools-sshfs.sh %F;fi
Icon=ks-sshfs
Name=Mount point to Remote Directory
Name[de]=Einbindeort für Remote Verzeichnis
Name[es]=Montar Directorio Remoto
Name[fr]=Monter le Répertoire Distant
Name[it]=Monta Cartella Remota
Name[ja]=ディレクトリリモートコントロールを取り付けるために
Name[ko]=멀리 떨어지는 디렉토리에 오른다
Name[pt]=Montar Diretório Remoto
Name[ru]=Смонтировать удалённую папку
Name[uk]=Змонтувати віддалену теку
Name[zh_CN]=挂载远程目录
Name[x-test]=xxMount point to Remote Directoryxx

[Desktop Action ViewMachine]
Exec=/usr/share/applications/SSH_Tools-register-machine.sh %F
Icon=ks-server
Name=Registered Servers
Name[de]=Registrierte Server
Name[es]=Servidores Registrados
Name[fr]=Serveurs Enregistrés
Name[it]=Server Registrati
Name[ja]=登録された使用人
Name[ko]=등록 하인
Name[pt]=Servidores Registrados
Name[ru]=Зарегестрированные серверы
Name[uk]=Зареєстровані сервери
Name[zh_CN]=已注册服务器
Name[x-test]=xxRegistered Serversxx
