[Desktop Entry]
Actions=BuildKernel;CheckKernelUpdate;RebuildPackage;SysInfo;SysMonitor;Htop;XorgConf;
Icon=/usr/share/icons/hicolor/scalable/apps/ks-hwinfo.svgz
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=System Tools
X-KDE-Submenu[de]=System - Werkzeuge
X-KDE-Submenu[es]=Sistema - Herramientas
X-KDE-Submenu[fr]=Système - Outils
X-KDE-Submenu[it]=Sistema - Attrezzi
X-KDE-Submenu[ja]=システム道具
X-KDE-Submenu[ko]=시스템 도구
X-KDE-Submenu[pt]=Sistema - Ferramentas
X-KDE-Submenu[ru]=Инструменты системы
X-KDE-Submenu[uk]=Інструменти системи
X-KDE-Submenu[zh_CN]=系统工具
X-KDE-Submenu[x-test]=xxSystem Toolsxx

[Desktop Action BuildKernel]
Exec=xterm -hold -si -s -sl 1000000 -sb -T "Build Custom Kernel - Start time $(date +%H"h":%M"m")" -bg black -fg white -e /usr/share/applications/System_Tools-build-custom-kernel.sh %F
Icon=/usr/share/icons/hicolor/scalable/apps/ks-kernel-rebuild.svgz
Name=Build Custom Kernel
Name[de]=Um Eine Persönliche Note Gegebenen Kern zu Bauen
Name[es]=Construir Kernel Personalizado
Name[fr]=Construire Kernel Personnalisé
Name[it]=Costruire Kernel Personalizzato
Name[ja]=個人化されたカーネルを作るために
Name[ko]=개인전용의 커늘을 형성한다
Name[pt]=Construir Núcleo Personalizado
Name[ru]=Собрать собственное ядро
Name[uk]=Зібрати власне ядро
Name[zh_CN]=建立个人化的核心
Name[x-test]=xxBuild Custom Kernelxx

[Desktop Action CheckKernelUpdate]
Exec=/usr/share/applications/System_Tools-check-kernel-update.sh %F
Icon=/usr/share/icons/hicolor/scalable/apps/ks-kernel-update.svgz
Name=Check Kernel Update
Name[de]=Scheck Kern Aktualisierung
Name[es]=Chequear Actualización del Kernel
Name[fr]=Vérifiez Actualisation du Kernel
Name[it]=Controlli Aggiornamento di Nocciolo
Name[ja]=チェック核更新
Name[ko]=수표 커늘 갱신
Name[pt]=Confira Atualização de Núcleo
Name[ru]=Проверить обновления ядра
Name[uk]=Перевірити оновлення ядра
Name[zh_CN]=检查核心更新
Name[x-test]=xxCheck Kernel Updatexx

[Desktop Action Htop]
Exec=/usr/share/applications/System_Tools-process-viewer.sh %F
Icon=/usr/share/icons/hicolor/scalable/apps/ks-system-process.svgz
Name=Process Viewer
Name[de]=Finder der Prozesse
Name[es]=Visor de Procesos
Name[fr]=Viseur de Procès
Name[it]=Mirino di Processi
Name[ja]=プロセスのファインダ
Name[ko]=과정의 파인더
Name[pt]=Descobridor de Processos
Name[ru]=Обзор процессов
Name[uk]=Перегляд процесів
Name[zh_CN]=程序的探测器
Name[x-test]=xxProcess Viewerxx

[Desktop Action RebuildPackage]
Exec=xterm -hold -si -s -sl 1000000 -sb -T "Rebuild RPM Package - Start time $(date +%H"h":%M"m")" -bg black -fg white -e /usr/share/applications/System_Tools-rebuild-package.sh %F
Icon=/usr/share/icons/hicolor/scalable/apps/ks-rebuild-rpm.svgz
Name=Rebuild RPM Package
Name[de]=Um Paketdrehzahl zu Rekonstruieren
Name[es]=Reconstruir Paquete RPM
Name[fr]=Reconstruire Paquet RPM
Name[it]=Ricostruire Pacchetto RPM
Name[ja]=パッケージ RPM を再構築するために
Name[ko]=꾸러미 RPM 를 재건한다
Name[pt]=Reconstruir RPM de Pacote
Name[ru]=Пересобрать пакет RPM
Name[uk]=Перезібрати пакунок RPM
Name[zh_CN]=重建包裹 RPM
Name[x-test]=xxRebuild RPM Packagexx

[Desktop Action SysInfo]
Exec=/usr/share/applications/System_Tools-sys-info.sh %F
Icon=/usr/share/icons/hicolor/scalable/apps/ks-hwinfo.svgz
Name=System Information
Name[de]=Informationen des Systemes
Name[es]=Información del Sistema
Name[fr]=Information du Système
Name[it]=Informazione del Sistema
Name[ja]=システムのインフォメーション
Name[ko]=체내의 정보
Name[pt]=Informação do Sistema
Name[ru]=Информация о системе
Name[uk]=Інформація про систему
Name[zh_CN]=系统的数据
Name[x-test]=xxSystem Informationxx

[Desktop Action SysMonitor]
Exec=kdesu -i /usr/share/icons/hicolor/scalable/apps/ks-error.svgz --noignorebutton -d /usr/share/applications/System_Tools-system-monitor.sh %F
Icon=/usr/share/icons/hicolor/scalable/apps/ks-error.svgz
Name=System Monitor
Name[de]=Monitor des Systemes
Name[es]=Monitor del Sistema
Name[fr]=Moniteur du Système
Name[it]=Monitor del Sistema
Name[ja]=システムのモニター
Name[ko]=체내의 모니터
Name[pt]=Monitor do Sistema
Name[ru]=Системный монитор
Name[uk]=Системний монітор
Name[zh_CN]=系统的监视器
Name[x-test]=xxSystem Monitorxx

[Desktop Action XorgConf]
Exec=kdesu -i /usr/share/icons/hicolor/scalable/apps/ks-xorg.svgz --noignorebutton -d /usr/share/applications/System_Tools-Xorg-configure.sh %F
Icon=/usr/share/icons/hicolor/scalable/apps/ks-xorg.svgz
Name=Xorg Configure
Name[de]=Um Xorg zu Konfigurieren
Name[es]=Configurar Xorg
Name[fr]=Configurer Xorg
Name[it]=Configurare Xorg
Name[ja]=Xorg を配置するために
Name[ko]=Xorg 를 형성한다
Name[pt]=Configurar Xorg
Name[ru]=Конфигурация Xorg
Name[uk]=Конфігурація Xorg
Name[zh_CN]=配置 Xorg
Name[x-test]=xxXorg Configurexx
