[Desktop Entry]
Actions=BuildKernel;CheckKernelUpdate;RebuildPackage;SysInfo;SysMonitor;Htop;XorgConf;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-hwinfo.png
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=System Tools
X-KDE-Submenu[es]=Sistema - Herramientas
X-KDE-Submenu[ru]=Инструменты системы
X-KDE-Submenu[uk]=Інструменти системи
X-KDE-Submenu[x-test]=xxSystem Toolsxx

[Desktop Action BuildKernel]
Exec=xterm -hold -si -s -sl 1000000 -sb -T "Build Custom Kernel - Start time $(date +%H"h":%M"m")" -bg black -fg white -e /usr/share/applications/System_Tools-build-custom-kernel.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-kernel-rebuild.png
Name=Build Custom Kernel
Name[es]=Construir Kernel Personalizado
Name[ru]=Собрать собственное ядро
Name[uk]=Зібрати власне ядро
Name[x-test]=xxBuild Custom Kernelxx

[Desktop Action CheckKernelUpdate]
Exec=/usr/share/applications/System_Tools-check-kernel-update.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-kernel-update.png
Name=Check Kernel Update
Name[es]=Chequear Actualización del Kernel
Name[ru]=Проверить обновления ядра
Name[uk]=Перевірити оновлення ядра
Name[x-test]=xxCheck Kernel Updatexx

[Desktop Action Htop]
Exec=/usr/share/applications/System_Tools-process-viewer.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-system-process.png
Name=Process Viewer
Name[es]=Visor De Procesos
Name[ru]=Обзор процессов
Name[uk]=Перегляд процесів
Name[x-test]=xxProcess Viewerxx

[Desktop Action RebuildPackage]
Exec=xterm -hold -si -s -sl 1000000 -sb -T "Rebuild RPM Package - Start time $(date +%H"h":%M"m")" -bg black -fg white -e /usr/share/applications/System_Tools-rebuild-package.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png
Name=Rebuild RPM Package
Name[es]=Reconstruir Paquete RPM
Name[ru]=Пересобрать пакет RPM
Name[uk]=Перезібрати пакунок RPM
Name[x-test]=xxRebuild RPM Packagexx

[Desktop Action SysInfo]
Exec=/usr/share/applications/System_Tools-sys-info.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-hwinfo.png
Name=System Information
Name[es]=Información del Sistema
Name[ru]=Информация о системе
Name[uk]=Інформація про систему
Name[x-test]=xxSystem Informationxx

[Desktop Action SysMonitor]
Exec=kdesu --caption="System Monitor" --noignorebutton -d /usr/share/applications/System_Tools-system-monitor.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-error.png
Name=System Monitor
Name[es]=Monitor del Sistema
Name[ru]=Системный монитор
Name[uk]=Системний монітор
Name[x-test]=xxSystem Monitorxx

[Desktop Action XorgConf]
Exec=kdesu --caption="Xorg Configure" --noignorebutton -d /usr/share/applications/System_Tools-Xorg-configure.sh %F
Icon=/usr/share/icons/hicolor/512x512/apps/ks-xorg.png
Name=Xorg Configure
Name[es]=Configurar Xorg
Name[ru]=Конфигурация Xorg
Name[uk]=Конфігурація Xorg
Name[x-test]=xxXorg Configurexx
