[Desktop Entry]
Actions=BuildKernel;CheckKernelUpdate;RebuildPackage;SysInfo;Htop;XorgConf;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-hwinfo.png
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu[en_US]=System Tools
X-KDE-Submenu=System Tools
X-KDE-Submenu[es]=Sistema - Herramientas
X-KDE-Submenu[x-test]=xxSystem Toolsxx

[Desktop Action BuildKernel]
Exec=xterm -hold -si -s -sl 1000000 -sb -T "Build Custom Kernel - Start time $(date +%H"h":%M"m")" -bg black -fg white -e /usr/share/applications/System_Tools-build-custom-kernel.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-kernel-rebuild.png
Name[en_US]=Build Custom Kernel
Name=Build Custom Kernel
Name[es]=Construir Kernel Personalizado
Name[x-test]=xxBuild Custom Kernelxx

[Desktop Action CheckKernelUpdate]
Exec=/usr/share/applications/System_Tools-check-kernel-update.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-kernel-update.png
Name[en_US]=Check Kernel Update
Name=Check Kernel Update
Name[es]=Chequear Actualización del Kernel
Name[x-test]=xxCheck Kernel Updatexx

[Desktop Action Htop]
Exec=/usr/share/applications/System_Tools-process-viewer.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-system-process.png
Name[en_US]=Process Viewer
Name=Process Viewer
Name[es]=Visor De Procesos
Name[x-test]=xxProcess Viewerxx

[Desktop Action RebuildPackage]
Exec=xterm -hold -si -s -sl 1000000 -sb -T "Rebuild RPM Package - Start time $(date +%H"h":%M"m")" -bg black -fg white -e /usr/share/applications/System_Tools-rebuild-package.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-rebuild-rpm.png
Name[en_US]=Rebuild RPM Package
Name=Rebuild RPM Package
Name[es]=Reconstruir Paquete RPM
Name[x-test]=xxRebuild RPM Packagexx

[Desktop Action SysInfo]
Exec=/usr/share/applications/System_Tools-sys-info.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-hwinfo.png
Name[en_US]=System Information
Name=System Information
Name[es]=Información del Sistema
Name[x-test]=xxSystem Informationxx

[Desktop Action XorgConf]
Exec=kdesu --noignorebutton -d /usr/share/applications/System_Tools-Xorg-configure.sh
Icon=/usr/share/icons/hicolor/512x512/apps/ks-xorg.png
Name[en_US]=Xorg Configure
Name=Xorg Configure
Name[es]=Configurar Xorg
Name[x-test]=xxXorg Configurexx
