[Desktop Entry]
Actions=BuildKernel;CheckKernelUpdate;RebuildPackage;SysInfo;SysMonitor;Htop;XorgConf;
Icon=ks-hwinfo
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=System Tools
X-KDE-Submenu[de]=System - Werkzeuge
X-KDE-Submenu[es]=Sistema - Herramientas
X-KDE-Submenu[fr]=Outils Système
X-KDE-Submenu[it]=Sistema - Strumenti
X-KDE-Submenu[ja]=システム道具
X-KDE-Submenu[ko]=시스템 도구
X-KDE-Submenu[pt]=Sistema - Ferramentas
X-KDE-Submenu[ru]=Инструменты системы
X-KDE-Submenu[uk]=Інструменти системи
X-KDE-Submenu[zh_CN]=系统工具
X-KDE-Submenu[x-test]=xxSystem Toolsxx

[Desktop Action BuildKernel]
Exec=which gcc make ccache rpmbuild rpm yum yumdownloader yum-builddep rpmdev-setuptree; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Build Custom Kernel" --passivepopup="[Error] Please install ccache, gcc, make, rpm. rpmbuild, rpmdev-setuptree, yum-builddep, yum and yumdownloader command and try again."; exit 1; else xterm -hold -si -s -sl 1000000 -sb -T "Build Custom Kernel - Start time $(date +%H"h":%M"m")" -bg black -fg white -e /usr/share/applications/System_Tools-build-custom-kernel.sh %F;fi
Icon=ks-kernel-rebuild
Name=Build Custom Kernel
Name[de]=Eigenen Kernel bauen
Name[es]=Construir Kernel Personalizado
Name[fr]=Construire un Noyau Personnalisé
Name[it]=Compila Kernel Personalizzato
Name[ja]=個人化されたカーネルを作るために
Name[ko]=개인전용의 커늘을 형성한다
Name[pt]=Construir Núcleo Personalizado
Name[ru]=Собрать собственное ядро
Name[uk]=Зібрати власне ядро
Name[zh_CN]=构建自定义内核
Name[x-test]=xxBuild Custom Kernelxx

[Desktop Action CheckKernelUpdate]
Exec=which yumdownloader; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Check Kernel Update" --passivepopup="[Error] Please install yumdownloader command and try again."; exit 1; else /usr/share/applications/System_Tools-check-kernel-update.sh %F;fi
Icon=ks-kernel-update
Name=Check Kernel Update
Name[de]=Kernel auf Aktualisierungen prüfen
Name[es]=Chequear Actualización del Kernel
Name[fr]=Vérifier les Mise à Jour du Noyau
Name[it]=Controllia Aggiornamento del Kernel
Name[ja]=チェック核更新
Name[ko]=수표 커늘 갱신
Name[pt]=Confira Atualização de Núcleo
Name[ru]=Проверить обновления ядра
Name[uk]=Перевірити оновлення ядра
Name[zh_CN]=检查内核更新
Name[x-test]=xxCheck Kernel Updatexx

[Desktop Action Htop]
Exec=which htop; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Process Viewer" --passivepopup="[Error] Please install htop command and try again."; exit 1; else /usr/share/applications/System_Tools-process-viewer.sh %F;fi
Icon=ks-system-process
Name=Process Viewer
Name[de]=Prozesse anzeigen
Name[es]=Visor de Procesos
Name[fr]=Afficher les Processus
Name[it]=Gestore Processi
Name[ja]=プロセスのファインダ
Name[ko]=과정의 파인더
Name[pt]=Descobridor de Processos
Name[ru]=Обзор процессов
Name[uk]=Перегляд процесів
Name[zh_CN]=进程查看器
Name[x-test]=xxProcess Viewerxx

[Desktop Action RebuildPackage]
Exec=which ccache gcc make pidof rpm rpmdev-setuptree setterm yum yumdownloader; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Rebuild RPM Package" --passivepopup="[Error] Please install ccache, gcc, make, pidof, rpm, rpmdev-setuptree, setterm, yum and yumdownloader command and try again."; exit 1; else xterm -hold -si -s -sl 1000000 -sb -T "Rebuild RPM Package - Start time $(date +%H"h":%M"m")" -bg black -fg white -e /usr/share/applications/System_Tools-rebuild-package.sh %F;fi
Icon=ks-rebuild-rpm
Name=Rebuild RPM Package
Name[de]=RPM Pakete erneut bauen
Name[es]=Reconstruir Paquete RPM
Name[fr]=Reconstruire le Paquet RPM
Name[it]=Ricrea Pacchetto RPM
Name[ja]=パッケージ RPM を再構築するために
Name[ko]=꾸러미 RPM 를 재건한다
Name[pt]=Reconstruir RPM de Pacote
Name[ru]=Пересобрать пакет RPM
Name[uk]=Перезібрати пакунок RPM
Name[zh_CN]=重建 RPM 软件包
Name[x-test]=xxRebuild RPM Packagexx

[Desktop Action SysInfo]
Exec=which dmidecode; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="System Information" --passivepopup="[Error] Please install dmidecode command and try again."; exit 1; else /usr/share/applications/System_Tools-sys-info.sh %F;fi
Icon=ks-hwinfo
Name=System Information
Name[de]=System Info
Name[es]=Información del Sistema
Name[fr]=Informations Système
Name[it]=Informazioni del Sistema
Name[ja]=システムのインフォメーション
Name[ko]=체내의 정보
Name[pt]=Informação do Sistema
Name[ru]=Информация о системе
Name[uk]=Інформація про систему
Name[zh_CN]=系统信息
Name[x-test]=xxSystem Informationxx

[Desktop Action SysMonitor]
Exec=kdesu -i ks-error --noignorebutton -d /usr/share/applications/System_Tools-system-monitor.sh %F
Icon=ks-error
Name=System Monitor
Name[de]=Systemüberwachung
Name[es]=Monitor del Sistema
Name[fr]=Moniteur Système
Name[it]=Monitor di Sistema
Name[ja]=システムのモニター
Name[ko]=체내의 모니터
Name[pt]=Monitor do Sistema
Name[ru]=Системный монитор
Name[uk]=Системний монітор
Name[zh_CN]=系统监视器
Name[x-test]=xxSystem Monitorxx

[Desktop Action XorgConf]
Exec=which lspci gtf; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Xorg Configure" --passivepopup="[Error] Please install lspci and gtf command and try again."; exit 1; else kdesu -i ks-xorg --noignorebutton -d /usr/share/applications/System_Tools-Xorg-configure.sh %F;fi
Icon=ks-xorg
Name=Xorg Configure
Name[de]=Xorg konfigurieren
Name[es]=Configurar Xorg
Name[fr]=Configurer Xorg
Name[it]=Configura Xorg
Name[ja]=Xorg を配置するために
Name[ko]=Xorg 를 형성한다
Name[pt]=Configurar Xorg
Name[ru]=Конфигурация Xorg
Name[uk]=Конфігурація Xorg
Name[zh_CN]=Xorg 配置
Name[x-test]=xxXorg Configurexx
