[Desktop Entry]
Actions=ExecScript;RootExecScript;
Icon=ks-shellscript
MimeType=application/x-shellscript;application/x-executable;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Terminal Tools
X-KDE-Submenu[de]=Terminal - Werkzeuge
X-KDE-Submenu[es]=Terminal - Herramientas
X-KDE-Submenu[fr]=Outils Terminal
X-KDE-Submenu[it]=Terminale - Strumenti
X-KDE-Submenu[ja]=ターミナル 道具
X-KDE-Submenu[ko]=말단 도구
X-KDE-Submenu[pt]=Terminal - Ferramentas
X-KDE-Submenu[ru]=Инструменты Терминал
X-KDE-Submenu[uk]=Інструменти Термінал
X-KDE-Submenu[zh_CN]=终端工具
X-KDE-Submenu[x-test]=xxTerminal Toolsxx

[Desktop Action ExecScript]
Exec=chmod 755 %f; konsole --hold -e %f
Icon=ks-shellscript
Name=Run Application
Name[de]=Anwendung starten
Name[es]=Ejecutar Programa
Name[fr]=Lancer l'Application
Name[it]=Esegui Programma
Name[ja]=出願を行ないなさい
Name[ko]=움직이는 적용
Name[pt]=Corra Aplicação
Name[ru]=Запустить приложение
Name[uk]=Запустити додаток
Name[zh_CN]=运行程序
Name[x-test]=xxRun Applicationxx

[Desktop Action RootExecScript]
Exec=kdesu -i ks-shellscript --noignorebutton -d -c "chmod 755 %f; konsole --hold -e %f"
Icon=ks-shellscript
Name=Run Application (Root)
Name[de]=Anwendung als Root starten
Name[es]=Ejecutar Programa como root
Name[fr]=Lancer l'Application (Root)
Name[it]=Esegui Programma (Root)
Name[ja]=出願を行ないなさい (Root)
Name[ko]=움직이는 적용 (Root)
Name[pt]=Corra Aplicação (Root)
Name[ru]=Запустить приложение (Root)
Name[uk]=Запустити додаток (Root)
Name[zh_CN]=运行程序 (Root)
Name[x-test]=xxRun Application (Root)xx
