[Desktop Entry]
Actions=ExecScript;RootExecScript;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-shellscript.png
MimeType=application/x-shellscript;application/x-executable;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Terminal Tools
X-KDE-Submenu[es]=Terminal - Herramientas
X-KDE-Submenu[ru]=Инструменты Терминал
X-KDE-Submenu[uk]=Інструменти Термінал
X-KDE-Submenu[x-test]=xxTerminal Toolsxx

[Desktop Action ExecScript]
Exec=chmod 755 %u; konsole --hold -e %u
Icon=/usr/share/icons/hicolor/512x512/apps/ks-shellscript.png
Name=Run Application
Name[es]=Ejecutar Programa
Name[ru]=Запустить приложение
Name[uk]=Запустити додаток
Name[x-test]=xxRun Applicationxx

[Desktop Action RootExecScript]
Exec=kdesu --caption="Run Application" --noignorebutton -d -c "chmod 755 %u; konsole --hold -e %u"
Icon=/usr/share/icons/hicolor/512x512/apps/ks-shellscript.png
Name=Run Application (Root)
Name[es]=Ejecutar Programa como root
Name[ru]=Запустить приложение (Root)
Name[uk]=Запустити додаток (Root)
Name[x-test]=xxRun Application (Root)xx
