[Desktop Entry]
Actions=TextReplace;
Icon=ks-text-plain
MimeType=text/*;application/x-shellscript;application/x-desktop;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-StartupNotify=false
X-KDE-Submenu=KDE-Services
X-KDE-Submenu[x-test]=xxKDE-Servicesxx

[Desktop Action TextReplace]
Exec=STRING1=$(kdialog --icon=ks-text-plain --title="Text Replace" --inputbox="Enter text to replace"); if [ "$?" != "0" ];then exit 1; else STRING2=$(kdialog --icon=ks-text-plain --title="Text Replace" --inputbox="Replace by"); if [ "$?" != "0" ];then exit 1; else COUNT="0"; COUNTFILES=$(echo %F|wc -w); COUNTFILES=$((++COUNTFILES)); DBUSREF=$(kdialog --icon=ks-text-plain --title="Text Replace" --progressbar "\t\t\t\t\t\t\t" $COUNTFILES); for file in %F;do COUNT=$((++COUNT)); qdbus $DBUSREF setLabelText "Replacing:  ${file##*/}  [$COUNT/$((COUNTFILES-1))]"; qdbus $DBUSREF Set "" value $COUNT; cd ${file%/*}; sed -i -e "s;$STRING1;$STRING2;g" $file; kdialog --icon=ks-text-plain --title="Text Replace" --passivepopup="[Finished]   ${file##*/}";done; qdbus $DBUSREF Set "" value $COUNTFILES; sleep 1; qdbus $DBUSREF close; echo "Finish Text Replace" > /tmp/speak; text2wave -F 48000 -o /tmp/speak.wav /tmp/speak; play /tmp/speak.wav; rm -fr /tmp/speak*;fi;fi
Icon=ks-text-plain
Name=Text Replace
Name[de]=Text ersetzen
Name[es]=Reemplazar Texto
Name[fr]=Remplacer du Texte
Name[it]=Sostituisci Testo
Name[ja]=テキストを置き換えるために
Name[ko]=본문을 바꾼다
Name[pt]=Substituir Texto
Name[ru]=Заменить текст
Name[uk]=Замінити текст
Name[zh_CN]=文本替换
Name[x-test]=xxText Replacexx
