[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=text/*;application/x-shellscript;application/x-desktop;
Icon=text-x-plain
Actions=TextReplace;
X-KDE-StartupNotify=false

[Desktop Action TextReplace]
Name=Text Replace
Name[en_US]=Text Replace
Name[es]=Reemplazar Texto
Name[x-test]=xxText Replacexx
Icon=text-x-plain
Exec=sed -i -e "s;`kdialog --icon=text-x-plain --caption="Text Replace" --inputbox="Enter text to replace"`;`kdialog --icon=text-x-plain --caption="Text Replace" --inputbox="Replace by"`;g" %u; echo "Finish Text Replace" > /tmp/speak; text2wave -F 48000 -o /tmp/speak.wav /tmp/speak; play /tmp/speak.wav; rm -fr /tmp/speak*; kdialog --icon=text-x-plain --title="Text Replace" --passivepopup="Finished"
