[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Icon=thunderbird
Actions=sendto;

[Desktop Action sendto]
Name=Send To ThunderBird
Name[en_US]=Send To ThunderBird
Name[es]=Enviar a ThunderBird
Name[x-test]=xxSend To ThunderBirdxx
Icon=thunderbird
Exec=thunderbird %F
