[Desktop Entry]
Actions=AVinfo;
Icon=/usr/share/icons/hicolor/512x512/apps/ks-video.png
MimeType=video/*;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-StartupNotify=false

[Desktop Action AVinfo]
Exec=ffprobe %u 2> /tmp/info; grep -e Input -e Duration -e Stream /tmp/info > /tmp/info2; kdialog --icon=/usr/share/icons/hicolor/512x512/apps/ks-video.png --caption="Video Info" --textbox /tmp/info2 850 160; rm -f /tmp/info*
Icon=/usr/share/icons/hicolor/512x512/apps/ks-video.png
Name[en_US]=Video Info
Name=Video Info
Name[es]=Información de Video
Name[ru]=Информация о Видео
Name[uk]=Інформація про Відео
Name[x-test]=xxVideo Infoxx
