[Desktop Entry]
Actions=Video-Downloader;Code-Collector;
Icon=ks-youtube-download-video
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=YouTube Tools
X-KDE-Submenu[de]=YouTube - Werkzeuge
X-KDE-Submenu[es]=YouTube - Herramientas
X-KDE-Submenu[fr]=Outils YouTube
X-KDE-Submenu[it]=YouTube - Strumenti
X-KDE-Submenu[ja]=ユーチューブ道具
X-KDE-Submenu[ko]=YouTube 도구
X-KDE-Submenu[pt]=YouTube - Ferramentas
X-KDE-Submenu[ru]=Инструменты YouTube
X-KDE-Submenu[uk]=Інструменти YouTube
X-KDE-Submenu[zh_CN]=YouTube 工具
X-KDE-Submenu[x-test]=xxYouTube Toolsxx

[Desktop Action Code-Collector]
Exec=which lynx; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Video List Code Collector" --passivepopup="[Error] Please install lynx command and try again."; exit 1; else /usr/share/applications/YouTube_Tools-video-code-collector.sh %F;fi
Icon=ks-youtube-video-code-collector
Name=Video List Code Collector
Name[de]=Video liste holen
Name[es]=Colector de Códigos de Lista de Videos
Name[fr]=Collecter des Listes de Codes Vidéo
Name[it]=Collezione Lista di Codici di Video
Name[ja]=ビデオのリストのコードの徴収人
Name[ko]=비디오의 목록의 코드의 수집가
Name[pt]=Coletor de Códigos de Lista de Vídeos
Name[ru]=Сборщик видео по списку кодов
Name[uk]=Збиральник відео за списком кодів
Name[zh_CN]=视频列表编码收集
Name[x-test]=xxVideo List Code Collectorxx

[Desktop Action Video-Downloader]
Exec=which youtube-dl; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Video Downloader" --passivepopup="[Error] Please install youtube-dl command and try again."; exit 1; else /usr/share/applications/YouTube_Tools-download-video.sh %F;fi
Icon=ks-youtube-download-video
Name=Video Downloader
Name[de]=Video Downloader
Name[es]=Descargador de Video
Name[fr]=Télécharger une Vidéo
Name[it]=Scarica Video
Name[ja]=ビデオ Downloader
Name[ko]=비디오 다운 로더
Name[pt]=Descarregador Vídeo
Name[ru]=Загрузчик видео
Name[uk]=Завантажувальник відео
Name[zh_CN]=视频下载器
Name[x-test]=xxVideo Downloaderxx
